@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
@{
    CadDrawingMaster DrawingMaster = ViewBag.CadDrawingMaster;
    CadDrawingWindowDetail windowDetail = ViewBag.WindowDetail;
    IList<CadDrawingByArea> byAreaList = ViewBag.ByAreas;
    IList<CadDrawingFunction> FunList = ViewBag.Functions;
    int rowindex = 0;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;

    CadDrawingDWG VerticalDWG = Dwgs.Where(e => e.CADType == "FrontViewFile").SingleOrDefault<CadDrawingDWG>();
    VerticalDWG = VerticalDWG == null ? new CadDrawingDWG() : VerticalDWG;

    CadDrawingDWG PlanDWG = Dwgs.Where(e => e.CADType == "TopViewFile").SingleOrDefault<CadDrawingDWG>();
    PlanDWG = PlanDWG == null ? new CadDrawingDWG() : PlanDWG;

    CadDrawingDWG SideDWG = Dwgs.Where(e => e.CADType == "LeftViewFile").SingleOrDefault<CadDrawingDWG>();
    SideDWG = SideDWG == null ? new CadDrawingDWG() : SideDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string cadName = DrawingMaster.DrawingCode;
    int PrototypeEdit = ViewBag.PrototypeEdit;
    int PrototypeRemove= ViewBag.PrototypeRemove;
}
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/window">外窗</a>
    <i></i>
    <a>@DrawingMaster.DrawingCode</a>
    <span class="check-state">
        @if (@DrawingMaster.BillStatus == 2)
        {
            string BTID = DrawingMaster.DynamicType == 1 ? "P11" : "P12";
            <a class="state-a-checked" href="http://192.168.2.110/Workflow/MTStart2.aspx?BSID=vsheji&BTID=@BTID&BOID=@DrawingMaster.Id" target="_blank">审批流程查看</a>
        }
    </span>

</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@cadName</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="dis_drawingcode" class="required" data-error="外窗原型编号不能为空" value="@DrawingMaster.DrawingCode" readonly="readonly" />
                        <input type="hidden" name="hid_drawingcode" value="@DrawingMaster.DrawingCode" />
                        <i class="icon-tips" tips="<p>门窗原型编号规则：开启代号+原型代码， 例如： NC1、NC2...<br />
                                                                       门窗开启代码：NC内开窗、NZC 内开转角窗、NDC内开内倒窗、NDZC内开内倒转角窗、WC外开窗、
                                                                        WZC外开转角窗、TC推拉窗、TLM推拉门、TSTLM提升推拉门、MLC门连窗、WM外开门<p>">&nbsp;</i>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>展开图文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename"  readonly="readonly" value="@ExpansionDWG.FileClass">
                        <input type="hidden" name="txt_filename" class="required" data-error="展开图文件不能为空"  value="@ExpansionDWG.FileClass" />
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />

                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>立面图文件 ：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename"  value="@VerticalDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" class="required" data-error="立面图文件不能为空"  value="@VerticalDWG.FileClass" />
                        <input type="hidden" name="txt_drawingcad" value="@VerticalDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@VerticalDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="FrontViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>平面图文件：</dt>
                    <dd>
                        
                        <input type="text" style="width:450px" name="readonly_filename" readonly="readonly" value="@PlanDWG.FileClass" />
                        <input type="hidden" name="txt_filename"  class="required" value="@PlanDWG.FileClass" data-error="平面图文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@PlanDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@PlanDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="TopViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                           上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>侧面图文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" readonly="readonly" value="@SideDWG.FileClass" />
                        <input type="hidden" name="txt_filename"  value="@SideDWG.FileClass" />
                        <input type="hidden" name="txt_drawingcad" value="@SideDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@SideDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="LeftViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                @if (DrawingMaster.Scope == 1)
                            {
                                    <input type="checkbox" id="all" name="chekbox_group" class="select-all" checked="checked" value="1" />
                            }
                            else
                            {
                                    <input type="checkbox" id="all" name="chekbox_group" class="select-all" value="1" />
                            }

                                <label for="all">集团</label>
                            </span>
                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = byAreaList.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" @str_check />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>模块类型：</dt>
                    <dd>
                        @if (DrawingMaster.DynamicType == 1)
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                                <label for="radio_dynamic_module">动态原型</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                                <label for="radio_static_module">定型原型</label>
                            </span>
                    }
                    else
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" data-model=".dynamic_module" />
                                <label for="radio_dynamic_module">动态原型</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" checked />
                                <label for="radio_static_module">定型原型</label>
                            </span>

                    }

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>功能区类型：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                <input type="checkbox" id="actiontype_all" name="ActionTypeAll" value="0" class="select-all" />
                                <label for="actiontype_all">全部</label>
                            </span>
                            @foreach (BasArgumentSetting ActionType in ViewBag.ActionTypes)
                        {
                            int funcount = FunList.Where(e => e.FunctionId == ActionType.Id).Count();
                            string check = funcount > 0 ? "checked" : string.Empty;
                                <span class="online-checkbox">
                                    <input type="checkbox" id="actiontype_@ActionType.Id" name="ActionType" value="@ActionType.Id" class="single-checkbox" @check />
                                    <label for="actiontype_@ActionType.Id">@ActionType.ArgumentText</label>
                                </span>
                        }
                        </span>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>开启类型：</dt>
                    <dd>
                        <select name="OpenType" class="required" style="width:105px;">
                        @foreach (BasArgumentSetting OpenType in ViewBag.OpenTypes)
                        {
                            string strChecked = OpenType.Id == windowDetail.WindowOpenTypeId ? "selected=\"selected\"" : string.Empty;
                                <option value="@OpenType.Id" @strChecked>@OpenType.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>开启扇数量：</dt>
                    <dd>
                        <select name="OpenWindowNum" class="required" style="width:105px;">
                            @foreach (BasArgumentSetting OpenType in ViewBag.OpenWindowNums)
                        {
                            string strChecked = OpenType.Id == windowDetail.WindowOpenQtyId ? "selected=\"selected\"" : string.Empty;
                                <option value="@OpenType.Id" @strChecked>@OpenType.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>是否对称窗型：</dt>
                    <dd>
                        @if (windowDetail.WindowHasCorner == 1)
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasCorner" id="Radio_WindowHasCorner" checked value="1" />
                                <label for="Radio_WindowHasCorner">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasCorner" id="Radio_WindowHasCorner1" value="0" />
                                <label for="Radio_WindowHasCorner1">否</label>
                            </span>
                    }
                    else
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasCorner" id="Radio_WindowHasCorner" value="1" />
                                <label for="Radio_WindowHasCorner">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasCorner" id="Radio_WindowHasCorner1" value="0" checked />
                                <label for="Radio_WindowHasCorner1">否</label>
                            </span>
                    }

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>是否转角窗型：</dt>
                    <dd>
                        @if (windowDetail.WindowHasSymmetry == 1)
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasSymmetry" id="Radio_WindowHasSymmetry" checked value="1" />
                                <label for="Radio_WindowHasSymmetry">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasSymmetry" id="Radio_WindowHasSymmetry1" value="0" />
                                <label for="Radio_WindowHasSymmetry1">否</label>
                            </span>
                    }
                    else
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasSymmetry" id="Radio_WindowHasSymmetry" value="1" />
                                <label for="Radio_WindowHasSymmetry">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="Radio_WindowHasSymmetry" id="Radio_WindowHasSymmetry1" checked value="0" />
                                <label for="Radio_WindowHasSymmetry1">否</label>
                            </span>

                    }
                    </dd>
                </dl>
                @if (DrawingMaster.DynamicType == 1)
            {
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>宽度尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtWindowSizeMin" value="@Decimal.ToInt32(windowDetail.WindowSizeMin)" />
                            <i>  - </i>
                            <input type="number" style="width:105px" name="txtWindowSizeMax" value="@Decimal.ToInt32(windowDetail.WindowSizeMax)" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>通风量计算公式：</dt>
                        <dd>
                            <input type="text" style="width:450px" name="txtWindowDesignFormula" value="@windowDetail.WindowDesignFormula" />
                        </dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i></i>参数取值：</dt>
                        <dd><i class="icon-tips" tips="<p>参数取值说明：</p><p>取值类型无表示没有此尺寸代号；不限表示取值无限制；<br/>范围表示取值是在最小值、最大值范围内；<br />固定值表示只能用值一栏中的固定值；<br />值系列表示取值可有多个值选项，以逗号分隔，<br />如600,700表示此项可取600或700两个值选项。</p>">&nbsp;</i></dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dd>
                            <table class="table table-bordered param" style="margin-left:60px;margin-right:60px; width:750px;">
                                <thead>
                                    <tr>
                                        <th width="80" class="text-center">尺寸代码</th>
                                        <th width="70" class="text-center">值类型</th>
                                        <th width="70" class="text-center">最小值</th>
                                        <th width="70" class="text-center">最大值</th>

                                        <th width="200" class="text-center">值</th>
                                        <th width="60" class="text-center">默认值</th>
                                        <th class="text-center">说明</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (CadDrawingParameter param in ViewBag.CadDrawingParams)
                                {
                                    string minValue = param.MinValue < 1 ? string.Empty : param.MinValue.ToString();
                                    string maxValue = param.MaxValue < 1 ? string.Empty : param.MaxValue.ToString();
                                    string defaultValue = param.DefaultValue < 1 ? string.Empty : param.DefaultValue.ToString();
                                        <tr sizeno="@param.SizeNo">
                                            <td class="text-center">@param.SizeNo</td>
                                            <td valign="middle">
                                                <select name="ValueType">
                                                    @foreach (DataSourceMember Member in ViewBag.Members)
                                                {
                                                    if (Member.ValueMember == param.ValueType.ToString())
                                                    {
                                                        <option value="@Member.ValueMember" selected="selected">@Member.DisplayMember</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Member.ValueMember">@Member.DisplayMember</option>
                                                    }

                                                }
                                                </select>
                                            </td>
                                            @switch (param.ValueType)
                                        {
                                            case 1:
                                                    <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                                    <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                                    <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                                    <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" disabled="disabled" value="@defaultValue" /></td>
                                                    <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 2:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 3:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 4:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 5:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 6:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                        }

                                        </tr>
                                }

                                </tbody>
                            </table>

                        </dd>
                    </dl>
                    <dl class="static_module">
                        <dt class="col-dt"><i>*</i>尺寸：</dt>
                        <dd>
                            <em>宽：</em>
                            <input type="number" style="width:105px" value="@Decimal.ToInt32(windowDetail.WindowSizeMin)" name="txt_Window_Width" />&nbsp;
                            <em>高：</em>
                            <input type="number" style="width:105px" value="@Decimal.ToInt32(windowDetail.WindowSizeMax)" name="txt_Window_Height" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module">
                        <dt class="col-dt"><i>*</i>通风量：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txt_WindowVentilationQuantity" value="@windowDetail.WindowVentilationQuantity" />

                        </dd>
                    </dl>
                    <dl class="static_module">
                        <dt class="col-dt"><i></i>塞缝尺寸：</dt>
                        <dd>
                            <input type="text" style="width:105px" name="txtWindowPlugslotSize" value="@windowDetail.WindowPlugslotSize" />

                        </dd>
                    </dl>
                    <dl class="static_module">
                        <dt class="col-dt">&nbsp;</dt>
                        <dd>
                            <span class="online-checkbox">
                                @{ string str_checked = windowDetail.WindowAuxiliaryFrame == 1 ? "checked" : string.Empty; }
                                <input type="checkbox" name="Checkbox_WindowAuxiliaryFrame" id="Checkbox_WindowAuxiliaryFrame" value="1" @str_checked />
                                <label for="Checkbox_WindowAuxiliaryFrame">是否有附框</label>
                            </span>
                        </dd>
                    </dl>
            }
            else
            {
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i>*</i>宽度尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:100px" name="txtWindowSizeMin" value="@windowDetail.WindowSizeMin" />
                            <i>  - </i>
                            <input type="number" style="width:100px" name="txtWindowSizeMax" value="@windowDetail.WindowSizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i>*</i>通风量计算公式：</dt>
                        <dd>
                            <input type="text" style="width:450px" name="txtWindowDesignFormula" value="@windowDetail.WindowDesignFormula" />

                        </dd>
                    </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i></i>参数取值：</dt>
                        <dd><i class="icon-tips" tips="<p>参数取值说明：</p><p>取值类型无表示没有此尺寸代号；不限表示取值无限制；<br/>范围表示取值是在最小值、最大值范围内；<br />固定值表示只能用值一栏中的固定值；<br />值系列表示取值可有多个值选项，以逗号分隔，<br />如600,700表示此项可取600或700两个值选项。</p>">&nbsp;</i></dd>
                    </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dd>
                            <table class="table table-bordered param" style="margin-left:60px;margin-right:60px; width:750px;">
                                <thead>
                                    <tr>
                                        <th width="80" class="text-center">尺寸代码</th>
                                        <th width="70" class="text-center">值类型</th>
                                        <th width="70" class="text-center">最小值</th>
                                        <th width="70" class="text-center">最大值</th>
                                        <th width="200" class="text-center">值</th>
                                        <th width="60" class="text-center">默认值</th>
                                        <th class="text-center">说明</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (CadDrawingParameter param in ViewBag.CadDrawingParams)
                                {
                                    string minValue = param.MinValue < 1 ? string.Empty : param.MinValue.ToString();
                                    string maxValue = param.MaxValue < 1 ? string.Empty : param.MaxValue.ToString();
                                    string defaultValue = param.DefaultValue < 1 ? string.Empty : param.DefaultValue.ToString();
                                        <tr sizeno="@param.SizeNo">
                                            <td class="text-center">@param.SizeNo</td>
                                            <td valign="middle">
                                                <select name="ValueType">
                                                    @foreach (DataSourceMember Member in ViewBag.Members)
                                                {
                                                    if (Member.ValueMember == param.ValueType.ToString())
                                                    {
                                                        <option value="@Member.ValueMember" selected="selected">@Member.DisplayMember</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Member.ValueMember">@Member.DisplayMember</option>
                                                    }

                                                }
                                                </select>
                                            </td>
                                            @switch (param.ValueType)
                                        {

                                            case 1:
                                                    <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                                    <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                                    <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                                    <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" disabled="disabled" value="@defaultValue" /></td>
                                                    <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 2:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 3:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 4:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 5:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                            case 6:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" value="@param.Desc" /></td>
                                                break;
                                        }

                                        </tr>
                                }


                                </tbody>
                            </table>
                        </dd>
                    </dl>

                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>尺寸：</dt>
                        <dd>
                            <em>宽：</em>
                            <input type="number" style="width:105px" value="@Decimal.ToInt32(windowDetail.WindowSizeMin)" name="txt_Window_Width" />&nbsp;
                            <em>高：</em>
                            <input type="number" style="width:105px" value="@Decimal.ToInt32(windowDetail.WindowSizeMax)" name="txt_Window_Height" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>通风量：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txt_WindowVentilationQuantity" value="@windowDetail.WindowVentilationQuantity" />

                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i></i>塞缝尺寸：</dt>
                        <dd>
                            <input type="text" style="width:105px" name="txtWindowPlugslotSize" value="@windowDetail.WindowPlugslotSize" />

                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt">&nbsp;</dt>
                        <dd>
                            <span class="online-checkbox">
                                @{ string str_checked = windowDetail.WindowAuxiliaryFrame == 1 ? "checked" : string.Empty;}
                                <input type="checkbox" name="Checkbox_WindowAuxiliaryFrame" id="Checkbox_WindowAuxiliaryFrame" value="1" @str_checked />
                                <label for="Checkbox_WindowAuxiliaryFrame">是否有附框</label>
                            </span>
                        </dd>
                    </dl>

            }


                <input type="hidden" name="Id" value="@DrawingMaster.Id" />
                <input type="hidden" name="param" />
            </form>
        </div>
        <div class="main-column-handle">
            <div class="column-handle">
                @if (PrototypeEdit == 1)
                {
                    <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
                    <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@DrawingMaster.Id" data-state="@DrawingMaster.DynamicType" data-billstatus="@DrawingMaster.BillStatus" data-bpmprocinstid="@DrawingMaster.BPMProcInstID" data-bpmjobid="@DrawingMaster.BPMJobid">提交</button>
                }
                
                @if (PrototypeRemove == 1)
                {
                    <button type="button" class="btn btn-sunac btn-delete" data-id="@DrawingMaster.Id" data-billstatus="@DrawingMaster.BillStatus" data-bpmprocinstid="@DrawingMaster.BPMProcInstID" data-bpmjobid="@DrawingMaster.BPMJobid">删除</button>
                }
                
             
              
            </div>
            
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Window/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            if (rtv == false) {
                return false;
            }

            var cad_file = $('input[name="txt_drawingcad"]').val();
            if (_isNull(cad_file)) {
                layer.msg("CAD文件不能为空");
                return false;
            }

            var groupid = $('input[name="chekbox_group"]').is(':checked');
            var areaid = $('input[name="checkbox_areaid" ]').is(':checked')
            if (areaid == false && groupid == false) {
                layer.msg("请选择使用范围");
                return false;
            }
            var actiontype = $('input[name="ActionType"]').is(':checked');
            if (actiontype == false) {
                layer.msg("请选择功能区类型");
                return false;
            }

            var radiomodule = parseInt($('input[name="radio_module"]:checked').val());
            if (radiomodule == 1) {
                var windowSizeMin = $('input[name="txtWindowSizeMin"]').val();
                if (parseFloat(windowSizeMin).toString() == "NaN") {
                    layer.msg("宽度尺寸范围最小值不能为空");
                    $('input[name="txtWindowSizeMin"]').focus();
                    return false;
                }

                var windowSizeMax = $('input[name="txtWindowSizeMax"]').val();
                if (parseFloat(windowSizeMax).toString() == "NaN") {
                    layer.msg("宽度尺寸范围最大值不能为空");
                    $('input[name="windowSizeMax"]').focus();
                    return false;
                }



                var WindowDesignFormula = $('input[name="txtWindowDesignFormula"]').val();
                if (_isNull(WindowDesignFormula)) {
                    layer.msg("通风量计算公式不能为空");
                    $('input[name="txtWindowDesignFormula"]').focus();
                    return false;
                }
            }
            else if (radiomodule == 2) {
                var window_Width = $('input[name="txt_Window_Width"]').val();
                if (parseFloat(window_Width).toString() == "NaN") {
                    layer.msg("尺寸宽不能为空");
                    $('input[name="txt_Window_Width"]').focus();
                    return false;
                }

                var window_Height = $('input[name="txt_Window_Height"]').val();
                if (parseFloat(window_Height).toString() == "NaN") {
                    layer.msg("尺寸高不能为空");
                    $('input[name="txt_Window_Width"]').focus();
                    return false;
                }

                var windowVentilationQuantity = $('input[name="txt_WindowVentilationQuantity"]').val();
                if (parseFloat(windowVentilationQuantity).toString() == "NaN") {
                    layer.msg("通风量不能为空");
                    $('input[name="txt_WindowVentilationQuantity"]').focus();
                    return false;
                }
            }

            var param = Array();
            $(".param  tr").each(function (i, v) {
                let that = $(this);

                let SizeNo = that.attr("sizeno");
                let ValueType = that.find('select[name="ValueType"]').val();
                let Val = that.find('input[name="Val"]').val();
                let MinValue = that.find('input[name="MinValue"]').val();
                let MaxValue = that.find('input[name="MaxValue"]').val();
                let DefaultValue = that.find('input[name="DefaultValue"]').val();
                let Desc = that.find('input[name="Desc"]').val();
                if (SizeNo != undefined) {
                    let _json = '{"SizeNo":"' + SizeNo + '","ValueType":"' + ValueType + '","Val":"' + Val + '","MinValue":"' + MinValue + '","MaxValue":"' + MaxValue + '","DefaultValue":"' + DefaultValue + '","Desc":"' + Desc + '"}';
                    param.push(_json);
                }
            });

            let json_param = "[" + param.join(',') + "]";
            $('input[name="param"]').val(json_param);
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                //layer.alert(data.message, { icon: 6, shade: false }, function () {
                //   // window.location.href = "/Window/Index"
                //});
                layer.alert(data.message, { icon: 6, shade: false });

            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");
        })

        $('.param tr select[name="ValueType"]').on("change", function () {
            let value_type = parseInt($(this).val());
            let that = $(this).parent().parent();
            that.find('.input-val').attr("disabled", true);
            that.find('.input-minvalue').attr("disabled", true);
            that.find('.input-maxvalue').attr("disabled", true);
            that.find('.input-defaultvalue').attr("disabled", true);
            switch (value_type) {
                case 1:
                    console.log(value_type);

                    break;
                case 2:
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').focus();
                    break;
                case 3:
                    that.find('.input-val').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-val').focus();
                    break;
                case 4:
                    that.find('.input-minvalue').removeAttr('disabled');
                    that.find('.input-maxvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-minvalue').focus();
                    break;
                case 5:
                    that.find('.input-val').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').focus();
                    break;
                case 6:
                    that.find('.input-val').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').focus();
                    break;
                default:
                    break;

            }
        })

        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });

        $(".btn-delete").on("click", function () {
            let self = $(this);
            let Id = self.data("id");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/window/deleteHandlebyid", { Id: Id, billstatus: billstatus, bpmprocinstid: bpmprocinstid}, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/window/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });

        })

        $(".btn-bpm-submit").on("click", function () {
            let self = $(this);
            let Id = self.data("id");
            let state = self.data("state");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            let bpmjobid = self.data("bpmjobid");
            let bill_message = billstatus == "4" ? "是否重新提交BPM审核" : "是否提交BPM审核";
            layer.confirm(bill_message, {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/window/CadWirteBPMApproval", { Id: Id, State: state, billstatus: billstatus, bpmprocinstid: bpmprocinstid, bpmjobid: bpmjobid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/window/index";
                        })
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })
    })

</script>
@if (PrototypeEdit == 0)
{
    <script type="text/javascript">
        $(function () {
            layer.alert("抱歉，当前用户暂无原型编辑权限,请联系管理员开通", { icon: 0, title: "权限提示" }, function () {

                window.location.href = "/window/index";
            });
        });
    </script>
}
