@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
<div class="row search search-bottom">
    <dl class="dl_area">
        <dt>区域：</dt>
        <dd>
            @if (ViewBag.scope == 1 || ViewBag.area>0)
            {
                <a>全部</a>
            }
            else
            {
                <a class="active">全部</a>
            }
            <span>
                @if (ViewBag.scope == 1)
                {
                    <a class="Scope active" data-val="1000">集团</a>
                }
                else
                {
                    <a class="Scope" data-val="1000">集团</a>
                }
            </span>
            <span>
                @foreach (BasArgumentSetting argument in ViewBag.Settings)
                {
                    if (argument.Id == ViewBag.area)
                    {
                        <a data-val="@argument.Id" class="active area">@argument.ArgumentText</a>
                    }
                    else
                    {
                        <a data-val="@argument.Id" class="area">@argument.ArgumentText</a>
                    }
                }
            </span>
        </dd>
    </dl>
</div>
    <div class="row search search-bottom">
    <dl class="dl_action_type">
        <dt>功能区类型：</dt>
        <dd class="dd_action">
            @if (ViewBag.action > 0)
            {
                <a >全部</a>
            }
            else
            {
                <a class="active">全部</a>
            }
            @foreach (BasArgumentSetting action in ViewBag.ActionTypes)
            {
                if (action.Id == ViewBag.action)
                {
                    <a data-val="@action.Id" class="active">@action.ArgumentText</a>
                }
                else
                {
                    <a data-val="@action.Id">@action.ArgumentText</a>
                }
            }
        </dd>
    </dl>
</div>
<div class="row search search-bottom">
    <dl class="dl_open_type">
        <dt>开启类型：</dt>
        <dd class="dl_opentype">

            @if (ViewBag.opentype > 0)
            {
                <a>全部</a>
            }
            else
            {
                <a class="active">全部</a>
            }
            @foreach (BasArgumentSetting openType in ViewBag.OpenTypes)
            {
                if (ViewBag.opentype == openType.Id)
                {
                    <a data-val="@openType.Id" class="active">@openType.ArgumentText</a>
                }
                else
                {
                    <a data-val="@openType.Id">@openType.ArgumentText</a>
                }
            }
        </dd>
    </dl>
</div>
<div class="row search search-bottom">
    <dl class="dl_openwindow">
        <dt>开启扇数量：</dt>
        <dd>
            @if (ViewBag.openwindownum > 0)
            {
                <a>全部</a>
            }
            else
            {
                <a class="active">全部</a>
            }
            @foreach (BasArgumentSetting openWindowNum in ViewBag.OpenWindowNums)
            {
                if (openWindowNum.Id == ViewBag.openwindownum)
                {
                    <a data-val="@openWindowNum.Id" class="active">@openWindowNum.ArgumentText 扇</a>
                }
                else
                {
                    <a data-val="@openWindowNum.Id">@openWindowNum.ArgumentText 扇</a>
                }
            }
        </dd>
    </dl>
</div>
<div class="row search keywords">
    <dl>
        <dt> 关键词搜索：</dt>
        <dd>
            <span class="sear-input">
                <input type="text" />
                <em></em>
            </span>
        </dd>
    </dl>
    <a class="btn-new" href="/window/add">新增</a>
</div>
<div class="row list">
     <ul>
         @foreach (CadDrawingWindowSearch drawing in ViewBag.List)
         {
            <li>
                <a href="/Window/LookOver/@drawing.Id">
                    <figure>

                        <img src="@drawing.DWGPath" />
                        <p>@drawing.DrawingName</p>
                    </figure>
                </a>
            </li>
         }
     </ul>
</div>
<script type="text/javascript">
    $(function () {
        $(".search a").on('click', function () {
            let that = $(this);
            let parent = $(this).parent();
            parent.find("a").removeClass("active")
            that.addClass("active");
            let param = searchparam();
            window.location.href = "/window?" + param
        });

        $(".sear-input em").on("click", function () {
             
             window.location.href="/"
        });
    })

    var searchparam = function () {
            let param = '1';
            let scope = parseInt($(".dl_area .Scope.active").data("val"));
            if (scope == 1000) {
                param += '&scope=1';
            }

            let area = parseInt($(".dl_area .area.active").data("val"));
            if (area > 0) {
                 param += '&area=' + area;
            }

            let action = parseInt($(".dl_action_type .active").data("val"))
            if (action > 0) {
                param += '&action=' + action;
            }

            let opentype = parseInt($(".dl_opentype .active").data("val"))
            if (opentype > 0) {
                param += '&opentype=' + opentype;
            }

            let openwindownum = parseInt($(".dl_openwindow .active").data("val"))
            if (openwindownum > 0) {
                param += '&openwindownum=' + openwindownum;
            }
            return param;
    }
</script>

