@using SunacCADApp.Entity
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;
    CadDrawingBathroomDetail Bathroom = ViewBag.Bathroom;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "" : ExpansionDWG.FileClass;

}
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/bathroom/index">卫生间</a>
    <i></i>
    <a>@dMaster.DrawingCode</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@imageName</p>
        </figure>
    </div>
    <div class="mian-column">
        <form name="myform" id="myform">
            <dl>
                <dt class="col-dt"><i>*</i>原型编号：</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingcode" class="required" data-error="原型编号不能为空" value="@dMaster.DrawingCode" />
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i></i>展开图文件：</dt>
                <dd>
                    <input type="text" style="width:378px" name="txt_filename" value="@ExpansionDWG.FileClass" />
                    <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                    <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                    <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                    <a class="btn-upfile" href="javascript:void(0)">
                        文件上传
                        <input type="file" class="upload-cad" />
                    </a>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>使用范围：</dt>
                <dd style="width:500px;">
                    <span style="display:block;padding-top:5px;line-height:35px;">
                        <span class="online-checkbox">
                            @if (dMaster.Scope == 1)
                            {
                                <input type="checkbox" id="all_group" name="chk_area" class="single-checkbox" value="1" checked />
                                <label for="all_group">集团</label>
                            }
                            else
                            {
                                <input type="checkbox" id="all_group" name="chk_area" class="single-checkbox" value="1" />
                                <label for="all_group">集团</label>
                            }
                        </span>
                        @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = ByAreas.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                            <span class="online-checkbox">
                                <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" @str_check />
                                <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                            </span>
                        }
                    </span>

                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>卫生间类型：</dt>
                <dd>
                    <select name="ToiletType" class="required">
                        @foreach (BasArgumentSetting ToiletType in ViewBag.ToiletTypes)
                        {
                            if (ToiletType.Id == Bathroom.BathroomType)
                            {
                                <option value="@ToiletType.Id" selected="selected">@ToiletType.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@ToiletType.Id">@ToiletType.ArgumentText</option>
                            }

                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>门窗位置：</dt>
                <dd>
                    <select name="selectBathroomDoorWindowPosition" class="required">
                        @foreach (BasArgumentSetting BathroomDoorWindowPosition in ViewBag.BathroomDoorWindowPositions)
                        {
                            if (BathroomDoorWindowPosition.Id == Bathroom.BathroomDoorWindowPosition)
                            {
                                <option value="@BathroomDoorWindowPosition.Id" selected="selected">@BathroomDoorWindowPosition.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@BathroomDoorWindowPosition.Id">@BathroomDoorWindowPosition.ArgumentText</option>
                            }

                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>是否含排气道：</dt>
                <dd>
                    @if (Bathroom.BathroomIsAirduct == 1)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct" value="1" checked="checked" />
                            <label for="radio_bathroomisairduct">是</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct1" value="0" />
                            <label for="radio_bathroomisairduct1">否</label>
                        </span>
                    }
                    else
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct" value="1" />
                            <label for="radio_bathroomisairduct">是</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct1" value="0" checked="checked" />
                            <label for="radio_bathroomisairduct1">否</label>
                        </span>
                    }

                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>模块类型：</dt>
                <dd>
                    @if (dMaster.DynamicType == 1)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态模型</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                            <label for="radio_static_module">静态模型</label>
                        </span>
                    }
                    else if (dMaster.DynamicType == 2)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态模型</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" checked />
                            <label for="radio_static_module">静态模型</label>
                        </span>

                    }
                </dd>
            </dl>
         
            @if (dMaster.DynamicType == 1)
            {
                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>短边尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:70px" name="txtBathroomShortSideMin" value="@Bathroom.BathroomShortSideMin" />
                        <i> - &nbsp; </i>
                        <input type="number" style="width:70px" name="txtBathroomShortSideMax" value="@Bathroom.BathroomShortSideMax" />
                    </dd>
                </dl>
                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>长边尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:70px" name="txtBathroomLongSizeMin" value="@Bathroom.BathroomLongSizeMin" />
                        <i> - &nbsp; </i>
                        <input type="number" style="width:70px" name="txtBathroomLongSizeMax" value="@Bathroom.BathroomLongSizeMax" />
                    </dd>
                </dl>
                <dl class="static_module" style="display:none">
                    <dt class="col-dt"><i>*</i>尺寸(mm)：</dt>
                    <dd>
                        <input type="number" style="width:70px" name="txtSizeSideMin" value="@Bathroom.BathroomShortSideMin" />
                        <i> - &nbsp; </i>
                        <input type="number" style="width:70px" name="txtSizeSideMax" value="@Bathroom.BathroomShortSideMax" />
                    </dd>
                </dl>
                <dl class="static_module" style="display:none">
                    <dt class="col-dt"><i>*</i>马桶尺寸：</dt>
                    <dd>
                        <select name="selectClosesToolWidth">
                            @foreach (BasArgumentSetting ClosesToolWidth in ViewBag.ClosesToolWidths)
                            {
                                if (ClosesToolWidth.Id == Bathroom.BathroomClosestoolSize)
                                {
                                    <option value="@ClosesToolWidth.Id" selected="selected">@ClosesToolWidth.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@ClosesToolWidth.Id">@ClosesToolWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module" style="display:none">
                    <dt class="col-dt"><i>*</i>水盆柜宽：</dt>
                    <dd>
                        <select name="selectBathroomBasinSize">
                            @foreach (BasArgumentSetting ToiletBasinWidth in ViewBag.ToiletBasinWidths)
                            {
                                if (ToiletBasinWidth.Id == Bathroom.BathroomBasinSize)
                                {
                                    <option value="@ToiletBasinWidth.Id" selected="selected">@ToiletBasinWidth.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@ToiletBasinWidth.Id">@ToiletBasinWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
            }
            else
            {
                <dl class="dynamic_module" style="display:none">
                    <dt class="col-dt"><i>*</i>短边尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:70px" name="txtBathroomShortSideMin" value="@Bathroom.BathroomShortSideMin" />
                        <i> - &nbsp; </i>
                        <input type="number" style="width:70px" name="txtBathroomShortSideMax" value="@Bathroom.BathroomShortSideMax" />
                    </dd>
                </dl>
                <dl class="dynamic_module" style="display:none">
                    <dt class="col-dt"><i>*</i>长边尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:70px" name="txtBathroomLongSizeMin" value="@Bathroom.BathroomLongSizeMin" />
                        <i> - &nbsp; </i>
                        <input type="number" style="width:70px" name="txtBathroomLongSizeMax" value="@Bathroom.BathroomLongSizeMax" />
                    </dd>
                </dl>
                <dl class="static_module" style="display:block">
                    <dt class="col-dt"><i>*</i>尺寸(mm)：</dt>
                    <dd>
                        <input type="number" style="width:70px" name="txtSizeSideMin" value="@Bathroom.BathroomShortSideMin" />
                        <i> - &nbsp; </i>
                        <input type="number" style="width:70px" name="txtSizeSideMax" value="@Bathroom.BathroomShortSideMax" />
                    </dd>
                </dl>
                <dl class="static_module" style="display:block">
                    <dt class="col-dt"><i>*</i>马桶尺寸：</dt>
                    <dd>
                        <select name="selectClosesToolWidth">
                            @foreach (BasArgumentSetting ClosesToolWidth in ViewBag.ClosesToolWidths)
                            {
                                if (ClosesToolWidth.Id == Bathroom.BathroomClosestoolSize)
                                {
                                    <option value="@ClosesToolWidth.Id" selected="selected">@ClosesToolWidth.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@ClosesToolWidth.Id">@ClosesToolWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module" style="display:block">
                    <dt class="col-dt"><i>*</i>水盆柜宽：</dt>
                    <dd>
                        <select name="selectBathroomBasinSize">
                            @foreach (BasArgumentSetting ToiletBasinWidth in ViewBag.ToiletBasinWidths)
                            {
                                if (ToiletBasinWidth.Id == Bathroom.BathroomBasinSize)
                                {
                                    <option value="@ToiletBasinWidth.Id" selected="selected">@ToiletBasinWidth.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@ToiletBasinWidth.Id">@ToiletBasinWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
            }
            <input type="hidden" name="Id" value="@dMaster.Id" />
        </form>
        <div class="row" style="margin-bottom:20px;padding-left:15px;padding-right:30px;">
            <div class="col-md-6 col-sm-6">
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <a class="btn btn-sunac" id="btn_save">保存</a>
                <button type="button" class="btn btn-sunac btn-delete" data-id="@dMaster.Id">删除</button>
                <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@dMaster.Id" data-state="@dMaster.DynamicType" data-billstatus="@dMaster.BillStatus">提交审核</button>
                @if (@dMaster.BillStatus == 2)
                {
                    string BTID = dMaster.DynamicType == 1 ? "P41" : "P42";
                    <a class="btn btn-sunac" href="http://192.168.2.110/Workflow/MTStart2.aspx?BSID=vsheji&BTID=@BTID&BOID=@dMaster.Id" target="_blank">BPM查看</a>
                }
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Bathroom/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            if (rtv == false) {
                return false;
            }
            var groupid = $('input[name="chekbox_group"]').is(':checked');
            var areaid = $('input[name="checkbox_areaid" ]').is(':checked')
            if (areaid == false && groupid == false) {
                layer.msg("请选择使用范围");
                return false;
            }



            var radiomodule = parseInt($('input[name="radio_module"]:checked').val());
            if (radiomodule == 1) {
                let BathroomShortSideMin = $('input[name="txtBathroomShortSideMin"]').val();
                if (!_isNumber(BathroomShortSideMin)) {
                    layer.msg("短边尺寸最小值必须为正数");
                    $('input[name="txtBathroomShortSideMin"]').focus();
                    return false;
                }

                let BathroomShortSideMax = $('input[name="txtBathroomShortSideMax"]').val();
                if (!_isNumber(BathroomShortSideMax)) {
                    layer.msg("短边尺寸最大值必须为正数");
                    $('input[name="txtBathroomShortSideMax"]').focus();
                    return false;
                }
                let BathroomLongSizeMin = $('input[name="txtBathroomLongSizeMin"]').val();
                if (!_isNumber(BathroomLongSizeMin)) {
                    layer.msg("长边尺寸最小值必须为正数");
                    $('input[name="BathroomLongSizeMin"]').focus();
                    return false;
                }

                let BathroomLongSizeMax = $('input[name="txtBathroomLongSizeMax"]').val();
                if (!_isNumber(BathroomLongSizeMax)) {
                    layer.msg("长边尺寸最大值必须为正数");
                    $('input[name="BathroomLongSizeMax"]').focus();
                    return false;
                }




            } else if (radiomodule == 2) {

                let sizeSideMin = $('input[name="txtSizeSideMin"]').val();
                if (!_isNumber(sizeSideMin)) {
                    layer.msg("尺寸最小值必须为正数");
                    $('input[name="txtSizeSideMin"]').focus();
                    return false;
                }

                let sizeSideMax = $('input[name="txtSizeSideMax"]').val();
                if (!_isNumber(sizeSideMax)) {
                    layer.msg("尺寸最大值必须为正数");
                    $('input[name="txtSizeSideMax"]').focus();
                    return false;
                }

                let BathroomClosesToolWidth = $('select[name="selectClosesToolWidth"]').val();
                if (_isNull(BathroomClosesToolWidth)) {
                    layer.msg("请选择马桶尺寸");
                    $('select[name="selectClosesToolWidth"]').focus();
                    return false;
                }

                let BathroomBasinSize = $('select[name="selectBathroomBasinSize"]').val();
                if (_isNull(BathroomBasinSize)) {
                    layer.msg("请选择水盆柜宽");
                    $('select[name="selectBathroomBasinSize"]').focus();
                    return false;
                }
            }
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/Bathroom/Index"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });

        $(".btn-delete").on("click", function () {
            let Id = $(this).data("id");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/handrail/deleteHandlebyid", { Id: Id }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/bathroom/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });
        })

        $(".btn-bpm-submit").on("click", function () {

            let self = $(this);

            let billstatus = self.data("billstatus");
            if (billstatus == 2) {
                layer.alert("已提交审核,请不要重复提交", { icon: 6, shade: false });
                return;
            }
            layer.confirm('是否提交BPM审核', {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                let Id = self.data("id");
                let State = self.data("state");
                $.post("/bathroom/CadWirteBPMApproval", { Id: Id, State: State }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/bathroom/index";
                        })
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })

    })

</script>



