@using SunacCADApp.Entity
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster Drawing = ViewBag.CadDrawingMaster;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;
    CadDrawingBathroomDetail Bathroom = ViewBag.HandrailDetail;
    string cadImg = string.Empty;
    if (Dwgs != null)
    {
        CadDrawingDWG DWG = Dwgs.FirstOrDefault<CadDrawingDWG>();
        cadImg = string.IsNullOrEmpty(DWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : DWG.DWGPath;
    }

}
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a>卫生间</a>
    <i></i>
    <a>@Drawing.DrawingCode</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure>
            <img src="@cadImg" width="238" heigth="200" />
            <p>@Drawing.DrawingCode</p>
        </figure>
    </div>
    <div class="mian-column">
        <form name="myform" id="myform">
            <dl>
                <dt><i>*</i>原型编号:</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingcode" class="required" data-error="原型编号不能为空"  value="@Drawing.DrawingCode"/>
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>原型名称:</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingname" class="required" data-error="原型名称不能为空" value="@Drawing.DrawingName" />
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>原型dwg文件:</dt>
                <dd>

                    @{
                        IList<CadDrawingDWG> DwgList = ViewBag.Dwgs;
                        int cadcount = 1 - DwgList.Count;
                    }

                    @foreach (CadDrawingDWG dwg in DwgList)
                    {
                        <span class="upfile">
                            <img src="@dwg.DWGPath" /><del></del>
                            <input type="hidden" name="cad_file" value="@dwg.CADPath" />
                            <input type="hidden" name="img_file" value="@dwg.DWGPath" />
                        </span>
                    }
                    @for (int i = 0; i < cadcount; i++)
                    {
                        <span class="upfile">
                            <input type="file" />
                        </span>
                    }

                </dd>
            </dl>
            <dl>
                <dt><i>*</i>使用范围:</dt>
                <dd style="width:500px;">
                    <span style="display:block;padding-top:5px;line-height:35px;">
                        <span class="online-checkbox">
                            <input type="checkbox" id="all" name="chk_area" class="select-all" />
                            <label for="all">全部</label>
                        </span>
                        <span class="online-checkbox">
                            @if (Drawing.Scope == 1)
                            {
                                <input type="checkbox" id="all_group" name="chekbox_group" class="single-checkbox" value="1" checked />
                                <label for="all_group">集团</label>
                            }
                            else
                            {
                                <input type="checkbox" id="all_group" name="chekbox_group" class="single-checkbox" value="1" />
                                <label for="all_group">集团</label>
                            }
                        </span>
                        @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = ByAreas.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                            <span class="online-checkbox">
                                <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" @str_check />
                                <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                            </span>
                        }
                    </span>

                </dd>
            </dl>
            <dl>
                <dt><i>*</i>卫生间类型：</dt>
                <dd>
                    <select name="ToiletType" class="required">
                        @foreach (BasArgumentSetting ToiletType in ViewBag.ToiletTypes)
                        {
                            if (ToiletType.Id == Bathroom.BathroomType)
                            {
                                <option value="@ToiletType.Id" selected="selected">@ToiletType.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@ToiletType.Id">@ToiletType.ArgumentText</option>
                            }

                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>门窗位置：</dt>
                <dd>
                    <select name="selectBathroomDoorWindowPosition" class="required">
                        @foreach (BasArgumentSetting BathroomDoorWindowPosition in ViewBag.BathroomDoorWindowPositions)
                        {
                            if (BathroomDoorWindowPosition.Id == Bathroom.BathroomDoorWindowPosition)
                            {
                                <option value="@BathroomDoorWindowPosition.Id" selected="selected">@BathroomDoorWindowPosition.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@BathroomDoorWindowPosition.Id">@BathroomDoorWindowPosition.ArgumentText</option>
                            }

                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>模块类型：</dt>
                <dd>
                    @if (Drawing.DynamicType == 1)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态模型</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                            <label for="radio_static_module">静态模型</label>
                        </span>
                    }
                    else if (Drawing.DynamicType == 2)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态模型</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" checked />
                            <label for="radio_static_module">静态模型</label>
                        </span>

                    }
                </dd>
            </dl>

            @if (Drawing.DynamicType == 1)
            {
                <dl class="dynamic_module">
                    <dt><i>*</i>短边尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:50px" name="txtBathroomShortSideMin"  value="@Bathroom.BathroomShortSideMin"/>
                        <i> -- &nbsp; </i>
                        <input type="number" style="width:50px" name="txtBathroomShortSideMax" value="@Bathroom.BathroomShortSideMax" />
                    </dd>
                </dl>
                <dl class="dynamic_module">
                    <dt><i>*</i>长边尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:50px" name="txtBathroomLongSizeMin"  value="@Bathroom.BathroomLongSizeMin"/>
                        <i> -- &nbsp; </i>
                        <input type="number" style="width:50px" name="txtBathroomLongSizeMax"  value="@Bathroom.BathroomLongSizeMax"/>
                    </dd>
                </dl>
            }
            else
            {
                <dl class="static_module" style="display:block">
                    <dt><i>*</i>尺寸(mm)：</dt>
                    <dd>
                        <input type="number" style="width:50px" name="txtSizeSideMin" value="@Bathroom.BathroomShortSideMin" />
                        <i> -- &nbsp; </i>
                        <input type="number" style="width:50px" name="txtSizeSideMax" value="@Bathroom.BathroomShortSideMax" />
                    </dd>
                </dl>
                
                <dl class="static_module" style="display:block">
                    <dt><i>*</i>马桶尺寸：</dt>
                    <dd>
                        <select name="selectClosesToolWidth">
                            @foreach (BasArgumentSetting ClosesToolWidth in ViewBag.ClosesToolWidths)
                            {
                                if (ClosesToolWidth.Id == Bathroom.BathroomClosestoolSize)
                                {
                                    <option value="@ClosesToolWidth.Id" selected="selected">@ClosesToolWidth.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@ClosesToolWidth.Id">@ClosesToolWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module" style="display:block">
                    <dt><i>*</i>水盆柜宽：</dt>
                    <dd>
                        <select name="selectBathroomBasinSize">
                            @foreach (BasArgumentSetting ToiletBasinWidth in ViewBag.ToiletBasinWidths)
                            {
                                if (ToiletBasinWidth.Id == Bathroom.BathroomBasinSize)
                                {
                                    <option value="@ToiletBasinWidth.Id" selected="selected">@ToiletBasinWidth.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@ToiletBasinWidth.Id">@ToiletBasinWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
            }
     

         


        </form>
        <div class="row" style="margin-bottom:20px;padding-left:15px;padding-right:30px;">
            <div class="col-md-6 col-sm-6">
                <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
            </div>
            <div class="col-md-6 col-sm-6 text-right">

            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Bathroom/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            if (rtv == false) {
                return false;
            }
            var cad_file = $('input[name="cad_file"]').val();
            if (_isNull(cad_file)) {
                layer.msg("CAD文件不能为空");
                return false;
            }
            var groupid = $('input[name="chekbox_group"]').is(':checked');
            var areaid = $('input[name="checkbox_areaid" ]').is(':checked')
            if (areaid == false && groupid == false) {
                layer.msg("请选择使用范围");
                return false;
            }



            var radiomodule = parseInt($('input[name="radio_module"]:checked').val());
            if (radiomodule == 1) {
                let BathroomShortSideMin = $('input[name="txtBathroomShortSideMin"]').val();
                if (!_isNumber(BathroomShortSideMin)) {
                    layer.msg("短边尺寸最小值必须为正数");
                    $('input[name="txtBathroomShortSideMin"]').focus();
                    return false;
                }

                let BathroomShortSideMax = $('input[name="txtBathroomShortSideMax"]').val();
                if (!_isNumber(BathroomShortSideMax)) {
                    layer.msg("短边尺寸最大值必须为正数");
                    $('input[name="txtBathroomShortSideMax"]').focus();
                    return false;
                }
                let BathroomLongSizeMin = $('input[name="txtBathroomLongSizeMin"]').val();
                if (!_isNumber(BathroomLongSizeMin)) {
                    layer.msg("长边尺寸最小值必须为正数");
                    $('input[name="BathroomLongSizeMin"]').focus();
                    return false;
                }

                let BathroomLongSizeMax = $('input[name="txtBathroomLongSizeMax"]').val();
                if (!_isNumber(BathroomLongSizeMax)) {
                    layer.msg("长边尺寸最大值必须为正数");
                    $('input[name="BathroomLongSizeMax"]').focus();
                    return false;
                }




            } else if (radiomodule == 2) {

                let sizeSideMin = $('input[name="txtSizeSideMin"]').val();
                if (!_isNumber(sizeSideMin)) {
                    layer.msg("尺寸最小值必须为正数");
                    $('input[name="txtSizeSideMin"]').focus();
                    return false;
                }

                let sizeSideMax = $('input[name="txtSizeSideMax"]').val();
                if (!_isNumber(sizeSideMax)) {
                    layer.msg("尺寸最大值必须为正数");
                    $('input[name="txtSizeSideMax"]').focus();
                    return false;
                }

                let BathroomClosesToolWidth = $('select[name="selectClosesToolWidth"]').val();
                if (_isNull(BathroomClosesToolWidth)) {
                    layer.msg("请选择马桶尺寸");
                    $('select[name="selectClosesToolWidth"]').focus();
                    return false;
                }

                let BathroomBasinSize = $('select[name="selectBathroomBasinSize"]').val();
                if (_isNull(BathroomBasinSize)) {
                    layer.msg("请选择水盆柜宽");
                    $('select[name="selectBathroomBasinSize"]').focus();
                    return false;
                }
            }
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/Bathroom/Index"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });
    })

</script>



