@using SunacCADApp.Entity
@using SunacCADApp.Library
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;
    CadDrawingBathroomDetail Bathroom = ViewBag.Bathroom;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "" : ExpansionDWG.FileClass;
    string drawingCode = dMaster.DrawingCode;
    int PrototypeEdit = ViewBag.PrototypeEdit;
    int PrototypeRemove = ViewBag.PrototypeRemove;
    int PrototypeApprove = ViewBag.PrototypeApprove;
    string BPMWEBURL = ViewBag.BPMWEBURL;
    string ProcInstId = dMaster.BPMProcInstID;
    string ProKeyCode = API_Common.GetEnCodeStr(ProcInstId);
    string approvalViewURL = string.Format("{0}/Workflow/MTApprovalView.aspx?procInstId={1}&key={2}", BPMWEBURL, ProcInstId, ProKeyCode);
}
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/bathroom/index">卫生间</a>
    <i></i>
    <a>@dMaster.DrawingCode</a>
    <span class="check-state">
        @if (dMaster.BillStatus == 2 || dMaster.BillStatus==1)
        {
            <span class="check-state">
                <a class="state-a-checked" href="@approvalViewURL" data-billstatus="@dMaster.BillStatus">审批流程查看</a>
            </span>
        }
     </span>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@drawingCode</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="dis_drawingcode" class="required" data-error="原型编号不能为空" value="@dMaster.DrawingCode" readonly="readonly" />
                        <input type="hidden" value="@dMaster.DrawingCode" name="hid_drawingcode" />
                        <i class="icon-tips" tips="<p>动态卫生间原型编号规则：模块名称+布局类型+结局套数+干湿分区，例如TL3<br/>
                                                                       静态卫生间原型编号规则：模块名称+布局类型+结局套数+模块尺寸，例如：TU4-2000*2750<br />
                                                                       模块名称 ：T 卫生间<br />
                                                                       布局类型： I型，L型、U型<br />
                                                                       洁具套数： 3 三件套、 4 四件套<br />
                                                                       干湿分区：g 干湿分离、其余类型为非干湿区<br />
                                                                       模块尺寸：短边尺寸*长边尺寸<br />
                                                                      </p>">&nbsp;</i>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>原型文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" value="@ExpansionDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" value="@ExpansionDWG.FileClass" class="required" data-error="平面图文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                           上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                @if (dMaster.Scope == 1)
                                {
                                    <input type="checkbox" id="all_group" name="chk_area" class="single-checkbox checkbox-area" value="1" checked />
                                    <label for="all_group">集团</label>
                                }
                                else
                                {
                                <input type="checkbox" id="all_group" name="chk_area" class="single-checkbox checkbox-area" value="1" />
                                    <label for="all_group">集团</label>
                            }
                            </span>
                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = ByAreas.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox checkbox-area" @str_check />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>卫生间类型：</dt>
                    <dd>
                        <select name="ToiletType" class="required" style="width:105px;">
                            @foreach (BasArgumentSetting ToiletType in ViewBag.ToiletTypes)
                        {
                            if (ToiletType.Id == Bathroom.BathroomType)
                            {
                                <option value="@ToiletType.Id" selected="selected">@ToiletType.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@ToiletType.Id">@ToiletType.ArgumentText</option>
                            }

                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>门窗位置：</dt>
                    <dd>
                        <select name="selectBathroomDoorWindowPosition" class="required" style="width:105px;">
                            @foreach (BasArgumentSetting BathroomDoorWindowPosition in ViewBag.BathroomDoorWindowPositions)
                            {
                                if (BathroomDoorWindowPosition.Id == Bathroom.BathroomDoorWindowPosition)
                                {
                                    <option value="@BathroomDoorWindowPosition.Id" selected="selected">@BathroomDoorWindowPosition.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@BathroomDoorWindowPosition.Id">@BathroomDoorWindowPosition.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>是否含排气道：</dt>
                    <dd>
                        @if (Bathroom.BathroomIsAirduct == 1)
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct" value="1" checked="checked" />
                                <label for="radio_bathroomisairduct">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct1" value="0" />
                                <label for="radio_bathroomisairduct1">否</label>
                            </span>
                    }
                    else
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct" value="1" />
                                <label for="radio_bathroomisairduct">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_bathroomisairduct" id="radio_bathroomisairduct1" value="0" checked="checked" />
                                <label for="radio_bathroomisairduct1">否</label>
                            </span>
                    }

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>模块类型：</dt>
                    <dd>
                        @if (dMaster.DynamicType == 1)
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                                <label for="radio_dynamic_module">动态原型</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                                <label for="radio_static_module">定型原型</label>
                            </span>
                    }
                    else if (dMaster.DynamicType == 2)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态原型</label>
                        </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" checked />
                                <label for="radio_static_module">定型原型</label>
                            </span>

                    }
                    </dd>
                </dl>

                @if (dMaster.DynamicType == 1)
            {
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>短边尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtBathroomShortSideMin" value="@Bathroom.BathroomShortSideMin" />
                            <i> - </i>
                            <input type="number" style="width:105px" name="txtBathroomShortSideMax" value="@Bathroom.BathroomShortSideMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>长边尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtBathroomLongSizeMin" value="@Bathroom.BathroomLongSizeMin" />
                            <i> - </i>
                            <input type="number" style="width:105px" name="txtBathroomLongSizeMax" value="@Bathroom.BathroomLongSizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:none">
                        <dt class="col-dt"><i>*</i>尺寸：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtSizeSideMin" value="@Bathroom.BathroomShortSideMin" />
                            <i> × </i>
                            <input type="number" style="width:105px" name="txtSizeSideMax" value="@Bathroom.BathroomShortSideMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:none">
                        <dt class="col-dt"><i>*</i>马桶尺寸：</dt>
                        <dd>
                            <select name="selectClosesToolWidth" style="width:105px;">
                                @foreach (BasArgumentSetting ClosesToolWidth in ViewBag.ClosesToolWidths)
                            {
                                if (ClosesToolWidth.Id == Bathroom.BathroomClosestoolSize)
                                {
                                    <option value="@ClosesToolWidth.Id" selected="selected">@ClosesToolWidth.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@ClosesToolWidth.Id">@ClosesToolWidth.ArgumentText</option>
                                }

                            }
                            </select>
                        </dd>
                    </dl>
    <dl class="static_module" style="display:none;">
        <dt class="col-dt"><i>*</i>水盆柜宽：</dt>
        <dd>
            <select name="selectBathroomBasinSize" style="width: 105px;">
                @foreach (BasArgumentSetting ToiletBasinWidth in ViewBag.ToiletBasinWidths)
                {
                    if (ToiletBasinWidth.Id == Bathroom.BathroomBasinSize)
                    {
                        <option value="@ToiletBasinWidth.Id" selected="selected">@ToiletBasinWidth.ArgumentText</option>
                    }
                    else
                    {
                        <option value="@ToiletBasinWidth.Id">@ToiletBasinWidth.ArgumentText</option>
                    }

                }
            </select>
        </dd>
    </dl>
            }
                else
                {
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i>*</i>短边尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtBathroomShortSideMin" value="@Bathroom.BathroomShortSideMin" />
                            <i> × </i>
                            <input type="number" style="width:105px" name="txtBathroomShortSideMax" value="@Bathroom.BathroomShortSideMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i>*</i>长边尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtBathroomLongSizeMin" value="@Bathroom.BathroomLongSizeMin" />
                            <i> × </i>
                            <input type="number" style="width:105px" name="txtBathroomLongSizeMax" value="@Bathroom.BathroomLongSizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>尺寸：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtSizeSideMin" value="@Bathroom.BathroomShortSideMin" />
                            <i>× </i>
                            <input type="number" style="width:105px" name="txtSizeSideMax" value="@Bathroom.BathroomShortSideMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>马桶尺寸：</dt>
                        <dd>
                            <select name="selectClosesToolWidth" style="width:105px">
                                @foreach (BasArgumentSetting ClosesToolWidth in ViewBag.ClosesToolWidths)
                                {
                                    if (ClosesToolWidth.Id == Bathroom.BathroomClosestoolSize)
                                    {
                                        <option value="@ClosesToolWidth.Id" selected="selected">@ClosesToolWidth.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@ClosesToolWidth.Id">@ClosesToolWidth.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>水盆柜宽：</dt>
                        <dd>
                            <select name="selectBathroomBasinSize" style="width:105px">
                                @foreach (BasArgumentSetting ToiletBasinWidth in ViewBag.ToiletBasinWidths)
                                {
                                    if (ToiletBasinWidth.Id == Bathroom.BathroomBasinSize)
                                    {
                                        <option value="@ToiletBasinWidth.Id" selected="selected">@ToiletBasinWidth.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@ToiletBasinWidth.Id">@ToiletBasinWidth.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
            }
                <input type="hidden" name="Id" value="@dMaster.Id" />
            </form>
        </div>
        <div class="main-column-handle" >

            <div class="column-handle">
                @if (PrototypeEdit == 1)
                {
                    <a class="btn btn-sunac" id="btn_save">保存</a>
                }
                
                @if (PrototypeApprove == 1)
                {
                    <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@dMaster.Id" data-state="@dMaster.DynamicType" data-billstatus="@dMaster.BillStatus" data-bpmprocinstid="@dMaster.BPMProcInstID" data-bpmjobid="@dMaster.BPMJobid">提交</button>
                }
                
                @if (PrototypeRemove == 1)
                {
                    <button type="button" class="btn btn-sunac btn-delete" data-id="@dMaster.Id" data-billstatus="@dMaster.BillStatus" data-bpmprocinstid="@dMaster.BPMProcInstID" data-bpmjobid="@dMaster.BPMJobid">删除</button>
                }
             
             
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Bathroom/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            if (rtv == false) {
                return false;
            }

            var areaid = $('.checkbox-area').is(':checked')
            if (areaid == false) {
                layer.msg("请选择使用范围");
                return false;
            }



            var radiomodule = parseInt($('input[name="radio_module"]:checked').val());
            if (radiomodule == 1) {
                let BathroomShortSideMin = $('input[name="txtBathroomShortSideMin"]').val();
                if (!_isNumber(BathroomShortSideMin)) {
                    layer.msg("短边尺寸最小值必须为正数");
                    $('input[name="txtBathroomShortSideMin"]').focus();
                    return false;
                }

                let BathroomShortSideMax = $('input[name="txtBathroomShortSideMax"]').val();
                if (!_isNumber(BathroomShortSideMax)) {
                    layer.msg("短边尺寸最大值必须为正数");
                    $('input[name="txtBathroomShortSideMax"]').focus();
                    return false;
                }
                let BathroomLongSizeMin = $('input[name="txtBathroomLongSizeMin"]').val();
                if (!_isNumber(BathroomLongSizeMin)) {
                    layer.msg("长边尺寸最小值必须为正数");
                    $('input[name="BathroomLongSizeMin"]').focus();
                    return false;
                }

                let BathroomLongSizeMax = $('input[name="txtBathroomLongSizeMax"]').val();
                if (!_isNumber(BathroomLongSizeMax)) {
                    layer.msg("长边尺寸最大值必须为正数");
                    $('input[name="BathroomLongSizeMax"]').focus();
                    return false;
                }




            } else if (radiomodule == 2) {

                let sizeSideMin = $('input[name="txtSizeSideMin"]').val();
                if (!_isNumber(sizeSideMin)) {
                    layer.msg("尺寸最小值必须为正数");
                    $('input[name="txtSizeSideMin"]').focus();
                    return false;
                }

                let sizeSideMax = $('input[name="txtSizeSideMax"]').val();
                if (!_isNumber(sizeSideMax)) {
                    layer.msg("尺寸最大值必须为正数");
                    $('input[name="txtSizeSideMax"]').focus();
                    return false;
                }

                let BathroomClosesToolWidth = $('select[name="selectClosesToolWidth"]').val();
                if (_isNull(BathroomClosesToolWidth)) {
                    layer.msg("请选择马桶尺寸");
                    $('select[name="selectClosesToolWidth"]').focus();
                    return false;
                }

                let BathroomBasinSize = $('select[name="selectBathroomBasinSize"]').val();
                if (_isNull(BathroomBasinSize)) {
                    layer.msg("请选择水盆柜宽");
                    $('select[name="selectBathroomBasinSize"]').focus();
                    return false;
                }
            }
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                //layer.alert(data.message, { icon: 6, shade: false }, function () {
                //    //window.location.href = "/Bathroom/Index"
                //});
                layer.alert(data.message, { icon: 6, shade: false });
            } else if (data.code == 110) {
                let layindex = layer.alert(data.message, { icon: 6, shade: false }, function () {
                    let BSID = data.BSID;
                    let BTID = data.BTID;
                    let BOID = data.BOID;
                    window.open("@ViewBag.BPMWEBURL/Workflow/MTStart2.aspx?BSID=" + BSID + "&BTID=" + BTID + "&BOID=" + BOID);
                    layer.close(layer.index);
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            resetForm();
            $("#myform").resetForm();
        });

        $(".btn-delete").on("click", function () {
            let self = $(this);
            let Id = self.data("id");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/handrail/deleteHandlebyid", { Id: Id, billstatus: billstatus, bpmprocinstid: bpmprocinstid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/bathroom/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });
        })

        $(".btn-bpm-submit").on("click", function () {

            let self = $(this);
            let Id = self.data("id");
            let state = self.data("state");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            let bpmjobid = self.data("bpmjobid");
            let bill_message = billstatus == "2" ? "是否重新提交BPM审核" : "是否提交BPM审核";
            layer.confirm(bill_message, {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                let Id = self.data("id");
                let State = self.data("state");
                $.post("/bathroom/CadWirteBPMApproval", { Id: Id, State: State, billstatus: billstatus, bpmprocinstid: bpmprocinstid, bpmjobid: bpmjobid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/bathroom/index";
                        })
                    } else if (data.code == 110) {
                        let layindex = layer.alert(data.message, { icon: 6, shade: false }, function () {
                            let BSID = data.BSID;
                            let BTID = data.BTID;
                            let BOID = data.BOID;
                            window.open("@ViewBag.BPMWEBURL/Workflow/MTStart2.aspx?BSID=" + BSID + "&BTID=" + BTID + "&BOID=" + BOID);
                            layer.close(layer.index);
                        });
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })

    })

</script>
@if (PrototypeEdit == 0)
{
    <script type="text/javascript">
        $(function () {
            layer.alert("抱歉，当前用户暂无原型编辑权限,请联系管理员开通", { icon: 0, title: "权限提示" }, function () {
                window.location.href = "/bathroom/index";
            });
        });
    </script>
}


