@using SunacCADApp.Entity;
@{
    Layout = "~/Views/_SubLayoutPage.cshtml";
    Bas_Idm_Project pro = ViewBag.Project;
    int dirIndex = 0;
    IList<Bas_Idm_ProjectFile> fileList= ViewBag.ListFile;
    IList<Bas_Idm_ProjectDirectory> directoryList = ViewBag.ListDir;
    }

<div id="sunac-sub">
    <div class="sub-header">
        <span class="item">项目名称：@pro.PLONG_TX		</span>
        <span class="item">区域：@pro.PAREANAME</span>
        <span class="item">城市公司：@pro.PCITYNAME</span>
    </div>
    <div class="sub-tbody">
        <div class="item-left ">
            <span class="thead">
                项目文件夹
            </span>
                    <dl>
                @foreach (Bas_Idm_ProjectDirectory dir in ViewBag.ListDir)
                {
                    if (dir.ParentDirId == 0)
                    {
                        string cls = (dirIndex++ != 0) ? "class=\"cls\"" : string.Empty;
                        <dt @Html.Raw(cls)>@dir.DirName</dt>
                        foreach (Bas_Idm_ProjectDirectory subDir in ViewBag.ListDir) 
                        {
                            if (subDir.ParentDirId==dir.Id) 
                            {
                               <dd>@subDir.DirName</dd>
                            }
                        }
                        dirIndex++;
                    }
                }
                
                
            </dl>
            @if (directoryList.Count == 0)
            {
                <div class="no-record" style="text-align:center;color:#bababa;line-height:50px">暂无文件</div>
            }
        </div>
        <div class="item-centre">
            <div class="item-center-operation">
                <button class="btn btn-sunac">批量下载</button>
                <button class="btn btn-sunac">批量删除</button>
            </div>
            <div class="item-center-tbody panel-table">
                <div class="panel-table-thead">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="35"></th>
                                <th class="selected-all">文件名称</th>
                                <th width="90">创建人</th>
                                <th width="90">创建时间</th>
                                <th width="90">更新人员</th>
                                <th width="90">更新时间</th>
                                <th width="80">文件大小</th>
                                <th width="90" class="text-center">操作</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="panel-table-tbody">
                    <table class="table">
                        <tbody>
                            @foreach (Bas_Idm_ProjectFile file in ViewBag.ListFile)
                            {
                                <tr>
                                    <td width="35"><input type="checkbox" value=""  data-id="@file.Id"/></td>
                                    <td class="selected-all">@file.FileName</td>
                                    <td width="90">@file.CreateBy</td>
                                    <td width="90">@file.CreateOn.ToString("yyyy-MM-dd")</td>
                                    <td width="90">@file.ModifiedBy</td>
                                    <td width="90">@file.CreateOn.ToString("yyyy-MM-dd")</td>
                                    <td width="80">200KB</td>
                                    <td width="90" class="text-center">
                                        <a class="file-download" data-fileid="@file.Id">下载</a>|<a class="">删除</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (fileList.Count == 0) 
                {
                    <div class="no-record" style="text-align:center;color:#bababa">暂无文件</div>
                }
             </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.item-left.dt,.item-left.dd').on("click", function () {
            Console.log("hello world");
        })
    })
</script>

