@using SunacCADApp.Entity;
@{
    Layout = "~/Views/_SubLayoutPage.cshtml";
    Bas_Idm_Project pro = ViewBag.Project;
    int dirIndex = 0;
    }

<div id="sunac-sub">
    <div class="sub-header">
        <span class="item">项目名称：@pro.PLONG_TX		</span>
        <span class="item">区域：@pro.PAREANAME</span>
        <span class="item">城市公司：@pro.PCITYNAME</span>
    </div>
    <div class="sub-tbody">
        <div class="item-left ">
            <span class="thead">
                项目文件夹
            </span>
                    <dl>
                @foreach (Bas_Idm_ProjectDirectory dir in ViewBag.ListDir)
                {
                    if (dir.ParentDirId == 0)
                    {
                        string cls = (dirIndex++ != 0) ? "class=\"cls\"" : string.Empty;
                        <dt @Html.Raw(cls)>@dir.DirName</dt>
                        foreach (Bas_Idm_ProjectDirectory subDir in ViewBag.ListDir) 
                        {
                            if (subDir.ParentDirId==dir.Id) 
                            {
                               <dd>@subDir.DirName</dd>
                            }
                        }
                        dirIndex++;
                    }
                }
                
           
            </dl>
        </div>
        <div class="item-centre">
            <div class="item-center-operation">
                <button class="btn btn-sunac">批量下载</button>
                <button class="btn btn-sunac">批量删除</button>
            </div>
            <div class="item-center-tbody panel-table">
                <div class="panel-table-thead">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="35"></th>
                                <th class="selected-all">文件名称</th>
                                <th width="180">创建人</th>
                                <th width="200">创建时间</th>
                                <th width="180">更新人员</th>
                                <th width="180">更新时间</th>
                                <th width="80">文件大小</th>
                                <th width="120" class="text-center">操作</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="panel-table-tbody">
                    <table class="table">
                        <tbody>
                            @foreach (Bas_Idm_ProjectFile file in ViewBag.ListFile)
                            {
                                <tr>
                                    <td width="35"><input type="checkbox" value="" /></td>
                                    <td class="selected-all">@file.FileName</td>
                                    <td width="180">@file.CreateBy</td>
                                    <td width="200">@file.CreateOn</td>
                                    <td width="180">@file.ModifiedBy</td>
                                    <td width="180">@file.CreateOn</td>
                                    <td width="80">200KB</td>
                                    <td width="120" class="text-center">
                                        <a>下载</a>|<a>删除</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
</div>


