@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/airconditioner/Index">空调</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="~/Content/Css/img/icon-no-image.png" width="238" heigth="200" />
            <p></p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="txt_drawingcode" class="required" data-error="空调原型编号不能为空" />
                        <i class="icon-tips" tips="<p>门窗原型编号规则：开启代号+原型代码， 例如： NC1、NC2...<br />
    门窗开启代码：NC内开窗、NZC 内开转角窗、NDC内开内倒窗、NDZC内开内倒转角窗、WC外开窗、
    WZC外开转角窗、TC推拉窗、TLM推拉门、TSTLM提升推拉门、MLC门连窗、WM外开门。
<p>">&nbsp;</i>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>原型文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" readonly="readonly" />
                        <input type="hidden" name="txt_filename" class="required" data-error="原型文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" />
                        <input type="hidden" name="hid_drawing_img" value="" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                <input type="checkbox" id="all" name="chk_area" class="select-all" value="1"  checked="checked"/>
                                <label for="all">集团</label>
                            </span>
                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>空调匹数：</dt>
                    <dd>
                        <select name="AirConditionNumber">
                            @foreach (BasArgumentSetting AirConditionNumber in ViewBag.AirConditionNumbers)
                        {
                                <option value="@AirConditionNumber.Id">@AirConditionNumber.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>净尺寸：</dt>
                    <dd>
                        <b style="font-weight:normal">W:</b>
                        <input type="number" style="width:100px" name="txtAirconditionerWidth" value="0" />
                        <b style="font-weight:normal">H:</b>
                        <input type="number" style="width:100px" name="txtAirconditionerHeight" value="0" />
                        <b style="font-weight:normal">D:</b>
                        <input type="number" style="width:100px" name="txtAirconditionerDepth" value="0" />
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>冷凝水管位置：</dt>
                    <dd>
                        <select name="selectCondensatePipePosition">
                            @foreach (BasArgumentSetting CondensatePipePosition in ViewBag.CondensatePipePositions)
                        {
                                <option value="@CondensatePipePosition.Id">@CondensatePipePosition.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>是否包含雨水管：</dt>
                    <dd>
                        <span class="online-checkbox">
                            <input type="checkbox" name="Checkbox_AirconditionerIsRainPipe" id="Checkbox_AirconditionerIsRainPipe" value="1" />
                            <label for="Checkbox_AirconditionerIsRainPipe">是</label>
                        </span>

                    </dd>
                </dl>
                <dl style="display:none" class="dlRainPipePosition">
                    <dt class="col-dt"><i>*</i>雨水管位置：</dt>
                    <dd>
                        <select name="selectRainPipePosition">
                            @foreach (BasArgumentSetting RainPipePosition in ViewBag.RainPipePositions)
                        {
                                <option value="@RainPipePosition.Id">@RainPipePosition.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <input type="hidden" name="hid_operate" />
            </form>
        </div>
        <div class="main-column-handle">
            <div class="column-handle">
                <button type="button" class="btn btn-sunac" id="btn_save" >保存</button>
                <button type="button" class="btn btn-sunac" id="btn_save01" data-value="commit">提交</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/airconditioner/Addhandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/airconditioner/Index"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display","block");
        })

        $("#Checkbox_AirconditionerIsRainPipe").on("change", function () {
            let checked = $(this).prop("checked");
            if (checked) {
                $(".dlRainPipePosition").css("display","block");
            } else {
                $(".dlRainPipePosition").css("display", "none");
            }
        })

     

        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_save01").on('click', function () {
            $('input[name="hid_operate"]').val($(this).data("value"));
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });
    })

</script>



