@using SunacCADApp.Entity
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;
    CadDrawingAirconditionerDetail Airconditioner = ViewBag.Airconditioner;
    IList<CadDrawingByArea> byAreaList = ViewBag.ByAreas;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "" : ExpansionDWG.FileClass;
    string drawingCode = dMaster.DrawingCode;
}

<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/airconditioner/Index">空调</a>
    <i></i>
    <a>@dMaster.DrawingCode</a>
    <span class="check-state">
        @if (@dMaster.BillStatus == 2)
        {
            string BTID = dMaster.DynamicType == 1 ? "P61" : "P61";
            <a class="state-a-checked" href="http://192.168.2.110/Workflow/MTStart2.aspx?BSID=vsheji&BTID=@BTID&BOID=@dMaster.Id" target="_blank">审批流程查看</a>
        }
    </span>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@drawingCode</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" style="width:450px" value="@dMaster.DrawingCode" name="dis_drawingcode" class="required" data-error="外窗原型编号不能为空"  readonly="readonly"/>
                        <input type="hidden" name="hid_drawingcode" value="@dMaster.DrawingCode"  />
                        <i class="icon-tips" tips="<p>门窗原型编号规则：开启代号+原型代码， 例如： NC1、NC2...<br/>
                                                                       门窗开启代码：NC内开窗、NZC 内开转角窗、NDC内开内倒窗、NDZC内开内倒转角窗、WC外开窗、
                                                                        WZC外开转角窗、TC推拉窗、TLM推拉门、TSTLM提升推拉门、MLC门连窗、WM外开门。<p>">&nbsp;</i>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>原型文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" value="@ExpansionDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" value="@ExpansionDWG.FileClass" class="required" data-error="原型文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                @if (dMaster.Scope == 1)
                            {
                                    <input type="checkbox" id="all_group" name="chk_area" class="single-checkbox" value="1" checked />
                                    <label for="all_group">集团</label>
                            }
                            else
                            {
                                    <input type="checkbox" id="all_group" name="chk_area" class="single-checkbox" value="1" />
                                    <label for="all_group">集团</label>
                            }
                            </span>
                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = ByAreas.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" @str_check />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>空调匹数：</dt>
                    <dd>
                        <select name="AirConditionNumber" class="required" data-error="请选择空调匹数不能为空">
                            @foreach (BasArgumentSetting AirConditionNumber in ViewBag.AirConditionNumbers)
                        {
                            if (Airconditioner.AirconditionerPower == AirConditionNumber.Id)
                            {
                                <option value="@AirConditionNumber.Id" selected="selected">@AirConditionNumber.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@AirConditionNumber.Id">@AirConditionNumber.ArgumentText</option>
                            }

                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>净尺寸：</dt>
                    <dd>
                        <b style="font-weight:normal">W:</b>
                        <input type="number" style="width:100px" name="txtAirconditionerWidth" value="@Airconditioner.AirconditionerWidth" />
                        <b style="font-weight:normal">H:</b>
                        <input type="number" style="width:100px" name="txtAirconditionerHeight" value="@Airconditioner.AirconditionerHeight" />
                        <b style="font-weight:normal">D:</b>
                        <input type="number" style="width:100px" name="txtAirconditionerDepth" value="@Airconditioner.AirconditionerDepth" />
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>冷凝水管位置：</dt>
                    <dd>
                        <select name="selectCondensatePipePosition">
                            @foreach (BasArgumentSetting CondensatePipePosition in ViewBag.CondensatePipePositions)
                        {
                            if (Airconditioner.AirconditionerPipePosition == CondensatePipePosition.Id)
                            {
                                <option value="@CondensatePipePosition.Id" selected="selected">@CondensatePipePosition.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@CondensatePipePosition.Id">@CondensatePipePosition.ArgumentText</option>
                            }

                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>是否包含雨水管：</dt>
                    <dd>
                        <span class="online-checkbox">
                            @if (Airconditioner.AirconditionerIsRainPipe == 1)
                        {
                                <input type="checkbox" name="Checkbox_AirconditionerIsRainPipe" id="Checkbox_AirconditionerIsRainPipe" value="1" checked="checked" />
                        }
                        else
                        {
                                <input type="checkbox" name="Checkbox_AirconditionerIsRainPipe" id="Checkbox_AirconditionerIsRainPipe" value="1" />
                        }

                            <label for="Checkbox_AirconditionerIsRainPipe">是</label>
                        </span>

                    </dd>
                </dl>
                @if (Airconditioner.AirconditionerIsRainPipe == 1)
            {
                    <dl class="dlRainPipePosition">
                        <dt class="col-dt"><i>*</i>雨水管位置：</dt>
                        <dd>
                            <select name="selectRainPipePosition">
                                @foreach (BasArgumentSetting RainPipePosition in ViewBag.RainPipePositions)
                            {
                                if (Airconditioner.AirconditionerPipePosition == RainPipePosition.Id)
                                {
                                    <option value="@RainPipePosition.Id" selected="selected">@RainPipePosition.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@RainPipePosition.Id">@RainPipePosition.ArgumentText</option>
                                }

                            }
                            </select>
                        </dd>
                    </dl>
                }
                else
                {
                    <dl style="display:none" class="dlRainPipePosition">
                        <dt class="col-dt"><i>*</i>雨水管位置：</dt>
                        <dd>
                            <select name="selectRainPipePosition">
                                @foreach (BasArgumentSetting RainPipePosition in ViewBag.RainPipePositions)
                                {
                                    if (Airconditioner.AirconditionerPipePosition == RainPipePosition.Id)
                                    {
                                        <option value="@RainPipePosition.Id" selected="selected">@RainPipePosition.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@RainPipePosition.Id">@RainPipePosition.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>

                }
                <input type="hidden" name="Id" value="@dMaster.Id" />
            </form>
        </div>
        <div class="main-column-handle">
   
            <div class="column-handle">
                <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
                <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@dMaster.Id" data-state="@dMaster.DynamicType" data-billstatus="@dMaster.BillStatus" data-bpmprocinstid="@dMaster.BPMProcInstID" data-bpmjobid="@dMaster.BPMJobid">提交</button>
                <button type="button" class="btn btn-sunac btn-delete" data-id="@dMaster.Id" data-billstatus="@dMaster.BillStatus" data-bpmprocinstid="@dMaster.BPMProcInstID" data-bpmjobid="@dMaster.BPMJobid">删除</button>
             
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/airconditioner/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.alert(data.message, { icon: 6, shade: false });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");
        })

        $("#Checkbox_AirconditionerIsRainPipe").on("change", function () {
            let checked = $(this).prop("checked");
            if (checked) {
                $(".dlRainPipePosition").css("display", "block");
            } else {
                $(".dlRainPipePosition").css("display", "none");
            }
        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });

        $(".btn-bpm-submit").on("click", function () {

            let self = $(this);
            let Id = self.data("id");
            let state = self.data("state");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            let bpmjobid = self.data("bpmjobid");
            let bill_message = billstatus == "2" ? "是否重新提交BPM审核" : "是否提交BPM审核";
           
            layer.confirm('是否提交BPM审核', {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                let Id = self.data("id");
                let State = self.data("state");
                $.post("/airconditioner/CadWirteBPMApproval", { Id: Id, State: State, billstatus: billstatus, bpmprocinstid: bpmprocinstid, bpmjobid: bpmjobid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/airconditioner/index";
                        })
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })
           
        $(".btn-delete").on("click", function () {
            let self = $(this);
            let Id = self.data("id");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");


            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/airconditioner/deleteHandlebyid", { Id: Id, billstatus: billstatus, bpmprocinstid: bpmprocinstid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/airconditioner/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });
        })

    })

</script>



