@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a>外窗</a>
    <i></i>
    <a>CD02X1外开双扇下</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure>
            <img src="~/Content/Css/img/icon-no-image.png" width="238" heigth="200" />
            <p>CDA双开窗下</p>
        </figure>
    </div>
    <div class="mian-column">
        <form name="myform" id="myform">
            <dl>
                <dt><i>*</i>原型编号:</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingcode" class="required" />
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>原型名称:</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingname" class="required" />
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>原型dwg文件:</dt>
                <dd>
                    <span class="upfile">
                        <input type="file" />
                        <input type="hidden" name="cad_file" />
                    </span>

                </dd>
            </dl>
            <dl>
                <dt><i>*</i>使用范围:</dt>
                <dd style="width:500px;">
                    <span style="display:block;padding-top:5px;line-height:35px;">
                        <span class="online-checkbox">
                            <input type="checkbox" id="all" name="chk_area" class="select-all" />
                            <label for="all">全部</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="checkbox" id="all_group" name="chekbox_group" class="single-checkbox" value="0" />
                            <label for="all_group">集团</label>
                        </span>
                        @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            <span class="online-checkbox">
                                <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" />
                                <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                            </span>
                        }
                    </span>

                </dd>
            </dl>

            <dl>
                <dt><i>*</i>空调匹数：</dt>
                <dd>
                    <select name="OpenType">
                        @foreach (BasArgumentSetting AirConditionNumber in ViewBag.AirConditionNumbers)
                        {
                            <option value="@AirConditionNumber.Id">@AirConditionNumber.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>长宽最小值：</dt>
                <dd>
                    <input type="text" style="width:50px" name="txtWindowSizeMin" />
                    <i> -- &nbsp; </i>
                    <input type="text" style="width:50px" name="txtWindowSizeMax" />
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>冷凝水管位置：</dt>
                <dd>
                    <select name="OpenType">
                        @foreach (BasArgumentSetting CondensatePipePosition in ViewBag.CondensatePipePositions)
                        {
                            <option value="@CondensatePipePosition.Id">@CondensatePipePosition.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>&nbsp;</dt>
                <dd>
                    <span class="online-checkbox">
                        <input type="checkbox" name="Checkbox_WindowAuxiliaryFrame" id="Checkbox_WindowAuxiliaryFrame" />
                        <label for="Checkbox_WindowAuxiliaryFrame">是否包含雨水管</label>
                    </span>
                </dd>
            </dl>
            <dl>
                <dt><i>*</i>雨水管位置：</dt>
                <dd>
                    <select name="OpenType">
                        @foreach (BasArgumentSetting RainPipePosition in ViewBag.RainPipePositions)
                        {
                            <option value="@RainPipePosition.Id">@RainPipePosition.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
        </form>
        <div class="row" style="margin-bottom:20px;padding-left:15px;padding-right:30px;margin-top:120px">
            <div class="col-md-6 col-sm-6">
                <button type="button" class="btn btn-sunac" id="btn_save">编辑</button>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <button type="button" class="btn btn-sunac">删除</button>
                <button type="button" class="btn btn-sunac">提交审核</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/airconditioner/Addhandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/airconditioner/Index"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });
    })

</script>



