@{
    Layout = "~/Views/_LayoutPage.cshtml";
    IList<CadDrawingWindowSearch> listCadDrawing = ViewBag.List;
}
@using SunacCADApp.Entity
<div class="row search search-bottom" style="margin-top:-15px;">
    <dl>
        <dt>区域：</dt>
        <dd class="dd_area">
            @if (ViewBag.area == 0)
            {
                <a class="active">全部</a>
            }
            else
            {
                <a>全部</a>
            }

            @if (ViewBag.area == -9999)
            {
                <a class="active" data-val="-9999">集团</a>
            }
            else
            {
                <a data-val="-9999">集团</a>
            }

            @foreach (BasArgumentSetting argument in ViewBag.Settings)
            {
                if (ViewBag.area == argument.Id)
                { <a data-val="@argument.Id" class="active">@argument.ArgumentText</a>}
                else
                { <a data-val="@argument.Id">@argument.ArgumentText</a>}

            }

        </dd>
    </dl>
</div>
<div class="row search search-bottom">
    <dl>
        <dt>空调匹数：</dt>
        <dd class="dd_AirConditionNumber">
            @if (ViewBag.AirConditionNumber == 0)
            {
                <a class="active">全部</a>
            }
            else
            {
                <a>全部</a>
            }

            @foreach (BasArgumentSetting AirConditionNumber in ViewBag.AirConditionNumbers)
            {
                if (ViewBag.AirConditionNumber == AirConditionNumber.Id)
                {
                    <a data-val="@AirConditionNumber.Id" class="active">@AirConditionNumber.ArgumentText</a>
                }
                else
                {
                    <a data-val="@AirConditionNumber.Id">@AirConditionNumber.ArgumentText</a>
                }

            }
        </dd>
    </dl>
</div>
<div class="row search search-bottom">
    <dl>
        <dt>冷凝水管：</dt>
        <dd class="dd_CondensatePipePosition">
            @if (ViewBag.CondensatePipePosition == 0)
            {
                <a class="active">全部</a>
            }
            else
            {
                <a>全部</a>
            }
            @foreach (BasArgumentSetting CondensatePipePosition in ViewBag.CondensatePipePositions)
            {
                if (ViewBag.CondensatePipePosition == CondensatePipePosition.Id)
                {
                    <a data-val="@CondensatePipePosition.Id" class="active">@CondensatePipePosition.ArgumentText</a>
                }
                else
                {
                    <a data-val="@CondensatePipePosition.Id">@CondensatePipePosition.ArgumentText</a>
                }
            }
        </dd>
    </dl>
</div>
<div class="row search search-bottom">
    <dl>
        <dt>雨水管：</dt>
        <dd class="dd_IsRainPipe">
            @if (ViewBag.IsRainPipe == -1)
            {
                <a class="active">全部</a>
                <a data-val="1">有雨水管</a>
                <a data-val="0">无雨水管</a>
            }
            else if (ViewBag.IsRainPipe == 1)
            {

                <a data-val="-1">全部</a>
                <a data-val="1" class="active">有雨水管</a>
                <a data-val="0">无雨水管</a>
            }
            else if (ViewBag.IsRainPipe == 0)
            {

                <a data-val="-1">全部</a>
                <a data-val="1">有雨水管</a>
                <a data-val="0" class="active">无雨水管</a>
            }

        </dd>
    </dl>
</div>

<div class="row search search-bottom">
    <dl class="dl_bpmstate">
        <dt>审核状态：</dt>
        <dd>
            @foreach (DataSourceMember member in ViewBag.StateList)
            {
                if (member.DisplayMember == ViewBag.bpmstate)
                {
                    <a data-val="@member.DisplayMember" class="active">@member.ValueMember</a>
                }
                else
                {
                    
                    <a data-val="@member.DisplayMember">@member.ValueMember</a>
                }
            }
        </dd>
    </dl>
</div>

<div class="row search keywords search-bottom">
    <dl>
        <dt> 关键词搜索：</dt>
        <dd>
            <span class="sear-input">
                <input type="text" value="@ViewBag.Keyword" />
                <em></em>
            </span>

        </dd>
    </dl>
    <a class="btn-new" href="/airconditioner/add" style="margin-right:12px">新增</a>
</div>
<div class="row list">
    <ul>
        @foreach (CadDrawingWindowSearch drawing in ViewBag.List)
        {
            <li>
                <a href="/airconditioner/lookover/@drawing.Id">
                    <figure>

                        <img src="@drawing.DWGPath" />
                        <p>@drawing.DrawingCode</p>
                    </figure>
                </a>
                @if (drawing.BillStatus == 0 || drawing.BillStatus == 1)
                {
                    <span class="state">待发布</span>
                }
                else if (drawing.BillStatus == 2)
                {
                    <span class="state unchecked">审核中</span>
                }
                else if (drawing.BillStatus == 3)
                {

                }
            </li>
        }



    </ul>
    @if (listCadDrawing.Count == 0)
    {
        <div class="no-record">
            没有符合要求的原型
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {

        $(".search a").on('click', function () {
            let that = $(this);
            let parent = $(this).parent();
            parent.find("a").removeClass("active")
            that.addClass("active");
            let param = searchparam();
            window.location.href = "/airconditioner?" + param
        });



        $(".sear-input em").on("click", function () {

            let keyword = $('.sear-input').find('input[type="text"]').val();
            window.location.href = "/airconditioner?keyword=" + keyword;
        })
    })
 

    var searchparam = function () {
        let param = '1';
        let area = parseInt($(".dd_area .active").data("val"));
        if (area > 0 || area==-9999) {
            param += '&area=' + area;
        }

        let AirConditionNumber = parseInt($(".dd_AirConditionNumber  .active").data("val"));
        if (AirConditionNumber > 0) {
            param += '&AirConditionNumber=' + AirConditionNumber;
        }

        let CondensatePipePosition = parseInt($(".dd_CondensatePipePosition .active").data("val"));
        if (CondensatePipePosition > 0) {
            param += '&CondensatePipePosition=' + CondensatePipePosition;
        }

        let IsRainPipe = parseInt($(".dd_IsRainPipe .active").data("val"));
        if (IsRainPipe > -1) {
            param += '&IsRainPipe=' + IsRainPipe;
        }

        let bpmstate = parseInt($(".dl_bpmstate .active").data("val"))
        if (bpmstate >= 0) {
            param += '&bpmstate=' + bpmstate;
        }

        return param;
    }
</script>
