@using SunacCADApp.Entity
@using SunacCADApp.Library
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;

    CadDrawingAirconditionerDetail Airconditioner = ViewBag.Airconditioner;
    IList<CadDrawingByArea> byAreaList = ViewBag.ByAreas;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "" : ExpansionDWG.FileClass;
    string drawingCode = dMaster.DrawingCode;
    int PrototypeEdit = ViewBag.PrototypeEdit;
    string BPMWEBURL = ViewBag.BPMWEBURL;
    string ProcInstId = dMaster.BPMProcInstID;
    string ProKeyCode = API_Common.GetEnCodeStr(ProcInstId);
    string approvalViewURL = string.Format("{0}/Workflow/MTApprovalView.aspx?procInstId={1}&key={2}", BPMWEBURL, ProcInstId, ProKeyCode);
    if (dMaster.BillStatus == 1)
    {
        string BSID = "vsheji";
        string BTID = dMaster.DynamicType == 1 ? "P61" : "P62";
        int BOID = dMaster.Id;
        approvalViewURL = string.Format("{0}/Workflow/MTStart2.aspx?BSID={1}&BTID={2}&BOID={3}", BPMWEBURL, BSID, BTID, BOID);
    }
}

<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/airconditioner/Index">空调</a>
    <i></i>
    <a>@dMaster.DrawingCode</a>
    @if (dMaster.BillStatus == 2 || dMaster.BillStatus==1)
    {
        <span class="check-state">
            <a class="state-a-checked" href="@approvalViewURL" data-billstatus="@dMaster.BillStatus">审批流程查看</a>
        </span>
    }


    @if (dMaster.BillStatus == 2)
    {
        <span class="check-state state-unchecked  bill-status-view" data-masterid="@dMaster.Id" data-billstatus="@dMaster.BillStatus" data-procinstid="@dMaster.BPMProcInstID"> 审核中</span>
    }
    else if (dMaster.BillStatus == 3)
    {
        <span class="check-state state-unchecked bill-status-view" data-masterid="@dMaster.Id" data-billstatus="@dMaster.BillStatus" data-procinstid="@dMaster.BPMProcInstID"> 已发布</span>
    }
    else if (dMaster.BillStatus == 4 || dMaster.BillStatus == 5 || dMaster.BillStatus == 6)
    {
        <span class="check-state state-unchecked bill-status-view" data-masterid="@dMaster.Id" data-billstatus="@dMaster.BillStatus" data-procinstid="@dMaster.BPMProcInstID"> 待发布</span>
    }
    else if (dMaster.BillStatus == 0)
    {
        <span class="state-model ">草稿</span>
    }
    else if (dMaster.BillStatus == 1)
    {
        <span class="state-model ">审核中</span>
    }
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@drawingCode</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i></i>原型编号：</dt>
                    <dd>
                        @dMaster.DrawingCode
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i></i>原型文件：</dt>
                    <dd>
                        <span class="dl-file-disabled">@(string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "无" : ExpansionDWG.FileClass)</span>
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpansionView" />
                        <a class="btn-upfile  download-upfile" data-src="@ExpansionDWG.CADPath" data-filename="@drawingCode">下载</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            @if (dMaster.Scope == 1)
                           {
                                <span class="online-checkbox">
                                    <label>集团</label>
                                </span>
                            }
                            
                            @foreach (CadDrawingByArea Area in ByAreas)
                            {
                                <span class="online-checkbox">
                                    <label>@Area.AreaName</label>
                                </span>
                            }
                        </span>

                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i></i>空调匹数：</dt>
                    <dd>
                        @Airconditioner.AirconditionerPowerName
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>净尺寸：</dt>
                    <dd>

                        <b style="font-weight:normal;display:inline-block;width:25px;text-align:left;">W:</b>
                        <i>@Airconditioner.AirconditionerWidth</i>  
                        <b style="font-weight:normal;display:inline-block;width:25px;text-align:left;padding-left:18px;">H:</b>
                        <i>@Airconditioner.AirconditionerHeight</i>  
                        <b style="font-weight:normal;display:inline-block;width:25px;text-align:left;padding-left:18px;">D:</b>
                         <i>@Airconditioner.AirconditionerDepth</i> 
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>冷凝水管位置：</dt>
                    <dd>
                        @Airconditioner.AirconditionerPipePositionName

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>是否包含雨水管：</dt>
                    <dd>
                        <span class="online-checkbox">
                            @{
                            string IsRainPipe = Airconditioner.AirconditionerIsRainPipe == 1 ? "是" : "否";
                            }
                            <label for="Checkbox_WindowAuxiliaryFrame">@IsRainPipe</label>
                        </span>
                    </dd>
                </dl>
                @if (Airconditioner.AirconditionerIsRainPipe == 1)
            {
                    <dl>
                        <dt class="col-dt"><i></i>雨水管位置：</dt>
                        <dd>
                            @Airconditioner.AirconditionerRainPipePositionName
                        </dd>
                    </dl>
            }

            </form>
        </div>
        @if (PrototypeEdit == 1)
        {
            <div class="main-column-handle">
                <div class="column-handle">
                    <a class="btn btn-sunac" href="/Airconditioner/Edit/@dMaster.Id">编辑</a>
                </div>
            </div>
        }
       

    </div>

</div>




