@using SunacCADApp.Entity
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;

    CadDrawingAirconditionerDetail Airconditioner = ViewBag.Airconditioner;
    IList<CadDrawingByArea> byAreaList = ViewBag.ByAreas;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "" : ExpansionDWG.FileClass;
}

<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/airconditioner/Index">外窗</a>
    <i></i>
    <a>@dMaster.DrawingCode</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@imageName</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i></i>原型编号：</dt>
                    <dd>
                        @dMaster.DrawingCode
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i></i>展开图文件：</dt>
                    <dd>
                        <input style="width:378px" name="txt_filename" disabled="disabled" value="@ExpansionDWG.FileClass" />
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpansionView" />
                        <a class="btn-upfile  download-upfile" data-src="@ExpansionDWG.CADPath">下载</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            @if (dMaster.Scope == 1)
                        {
                                <span class="online-checkbox">
                                    <label>集团</label>
                                </span>
                        }
                            @foreach (CadDrawingByArea Area in ByAreas)
                        {
                                <span class="online-checkbox">
                                    <label>@Area.AreaName</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i></i>空调匹数：</dt>
                    <dd>
                        @Airconditioner.AirconditionerPowerName
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>净尺寸：</dt>
                    <dd>

                        <b style="font-weight:normal">W:</b>
                        @Airconditioner.AirconditionerWidth
                        <b style="font-weight:normal">H:</b>
                        @Airconditioner.AirconditionerHeight
                        <b style="font-weight:normal">D:</b>
                        @Airconditioner.AirconditionerDepth
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>冷凝水管位置：</dt>
                    <dd>
                        @Airconditioner.AirconditionerPipePositionName

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i></i>是否包含雨水管：</dt>
                    <dd>
                        <span class="online-checkbox">
                            @{
                            string IsRainPipe = Airconditioner.AirconditionerIsRainPipe == 1 ? "是" : "否";
                            }
                            <label for="Checkbox_WindowAuxiliaryFrame">@IsRainPipe</label>
                        </span>
                    </dd>
                </dl>
                @if (Airconditioner.AirconditionerIsRainPipe == 1)
            {
                    <dl>
                        <dt class="col-dt"><i></i>雨水管位置：</dt>
                        <dd>
                            @Airconditioner.AirconditionerPipePositionName
                        </dd>
                    </dl>
            }

            </form>
        </div>
        <div class="main-column-handle" >
            <div class="column-handle">
                <a class="btn btn-sunac" href="/Airconditioner/Edit/@dMaster.Id">编辑</a>
            </div>
        </div>
    </div>

</div>




