@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    CadDrawingDoorDetail doorDetail = ViewBag.Door;
    IList<CadDrawingByArea> byAreaList = ViewBag.byAreaList;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    CadDrawingDWG VerticalDWG = Dwgs.Where(e => e.CADType == "FrontViewFile").SingleOrDefault<CadDrawingDWG>();
    VerticalDWG = VerticalDWG == null ? new CadDrawingDWG() : VerticalDWG;
    CadDrawingDWG PlanDWG = Dwgs.Where(e => e.CADType == "TopViewFile").SingleOrDefault<CadDrawingDWG>();
    PlanDWG = PlanDWG == null ? new CadDrawingDWG() : PlanDWG;
    CadDrawingDWG SideDWG = Dwgs.Where(e => e.CADType == "LeftViewFile").SingleOrDefault<CadDrawingDWG>();
    SideDWG = SideDWG == null ? new CadDrawingDWG() : SideDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "侧面图文件" : ExpansionDWG.FileClass;
    string drawingCode = dMaster.DrawingCode;
}
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/door/">门</a>
    <i></i>
    <a>@dMaster.DrawingCode</a>
    <span class="check-state">
        @if (dMaster.BillStatus == 2)
        {
            string BTID = dMaster.DynamicType == 1 ? "P21" : "P22";
            <a class="state-a-checked" href="http://192.168.2.110/Workflow/MTStart2.aspx?BSID=vsheji&BTID=@BTID&BOID=@dMaster.Id" target="_blank">审批流程查看</a>
        }
    </span>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@drawingCode</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" name="dis_drawingcode" style="width:450px" value="@dMaster.DrawingCode" placeholder="原型编号" class="required" data-error="外窗原型编号不能为空" readonly="readonly" />
                        <input type="hidden" name="hid_drawingcode" value="@dMaster.DrawingCode"/>
                        <i class="icon-tips" tips="<p>门窗原型编号规则：开启代号+原型代码， 例如： NC1、NC2...<br />
                                                                       门窗开启代码：NC内开窗、NZC 内开转角窗、NDC内开内倒窗、NDZC内开内倒转角窗、WC外开窗、
                                                                        WZC外开转角窗、TC推拉窗、TLM推拉门、TSTLM提升推拉门、MLC门连窗、WM外开门</p>">&nbsp;</i>
                       
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>展开图文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" value="@ExpansionDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" value="@ExpansionDWG.FileClass"  class="required" data-error="展开图文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>立面图文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" value="@VerticalDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" value="@VerticalDWG.FileClass"  class="required" data-error="立面图文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@VerticalDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@VerticalDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="FrontViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>平面图文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" value="@PlanDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" value="@PlanDWG.FileClass"  class="required" data-error="平面图文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@PlanDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@PlanDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="TopViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i></i>侧面图文件：</dt>
                    <dd>
                        @{
                        string _LeftViewFile = string.IsNullOrEmpty(SideDWG.FileClass) ? "无" : SideDWG.FileClass;
                        }
                        <input type="text" style="width:450px" name="txt_filename" value="@SideDWG.FileClass" readonly="readonly"/>
                        <input type="hidden" name="txt_filename" value="@SideDWG.FileClass" />
                        <input type="hidden" name="txt_drawingcad" value="@SideDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@SideDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="LeftViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                @if (dMaster.Scope == 1)
                            {
                                    <input type="checkbox" id="all_group" name="chekbox_group" class="single-checkbox" value="1" checked />
                            }
                            else
                            {
                                    <input type="checkbox" id="all_group" name="chekbox_group" class="single-checkbox" value="1" />
                            }

                                <label for="all_group">集团</label>
                            </span>
                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = byAreaList.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" @str_check />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>模块类型：</dt>
                    <dd>
                        @if (dMaster.DynamicType == 1)
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                                <label for="radio_dynamic_module">动态原型</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                                <label for="radio_static_module">定型原型</label>
                            </span>
                    }
                    else if (dMaster.DynamicType == 2)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态原型</label>
                        </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" checked />
                                <label for="radio_static_module">定型原型</label>
                            </span>

                    }

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>门类型：</dt>
                    <dd>
                        <select name="selectDoorType" style="width:105px">
                            @foreach (BasArgumentSetting DoorType in ViewBag.DoorTypes)
                        {
                            if (DoorType.Id == doorDetail.DoorType)
                            {
                                <option value="@DoorType.Id" selected>@DoorType.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@DoorType.Id">@DoorType.ArgumentText</option>
                            }
                        }


                        </select>
                    </dd>
                </dl>
                @if (dMaster.DynamicType == 1)
            {
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>宽度尺寸范围(mm)：</dt>
                        <dd>
                            <input type="text" style="width:105px" name="txtWindowSizeMin" value="@doorDetail.WindowSizeMin" />
                            <i>  - </i>
                            <input type="text" style="width:105px" name="txtWindowSizeMax" value="@doorDetail.WindowSizeMax" />
                        </dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>通风量计算公式：</dt>
                        <dd>
                            <input type="text" style="width:450px" name="txtWindowDesignFormula" value="@doorDetail.WindowDesignFormula" />
                        </dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i></i>参数取值：</dt>
                        <dd><i class="icon-tips" tips="<p>参数取值说明：</p><p>取值类型无表示没有此尺寸代号；不限表示取值无限制；<br/>范围表示取值是在最小值、最大值范围内；<br />固定值表示只能用值一栏中的固定值；<br />值系列表示取值可有多个值选项，以逗号分隔，<br />如600,700表示此项可取600或700两个值选项。</p>">&nbsp;</i></dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dd>
                            <table class="table table-bordered param" style="margin-left:60px;margin-right:60px; width:750px;">
                                <thead>
                                    <tr>
                                        <th width="80" class="text-center">尺寸代码</th>
                                        <th width="70" class="text-center">值类型</th>
                                        <th width="70" class="text-center">最小值</th>
                                        <th width="70" class="text-center">最大值</th>
                                        <th width="200" class="text-center">值</th>
                                        <th width="60" class="text-center">默认值</th>
                                        <th class="text-center">说明</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (CadDrawingParameter param in ViewBag.CadDrawingParams)
                                {
                                    string minValue = param.MinValue < 1 ? string.Empty : param.MinValue.ToString();
                                    string maxValue = param.MaxValue < 1 ? string.Empty : param.MaxValue.ToString();
                                    string defaultValue = param.DefaultValue < 1 ? string.Empty : param.DefaultValue.ToString();
                                        <tr sizeno="@param.SizeNo">
                                            <td class="text-center">@param.SizeNo</td>
                                            <td valign="middle">
                                                <select name="ValueType">
                                                    @foreach (DataSourceMember Member in ViewBag.Members)
                                                {
                                                    if (Member.ValueMember == param.ValueType.ToString())
                                                    {
                                                        <option value="@Member.ValueMember" selected="selected">@Member.DisplayMember</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Member.ValueMember">@Member.DisplayMember</option>
                                                    }

                                                }
                                                </select>
                                            </td>
                                            @switch (param.ValueType)
                                        {
                                            case 1:
                                                    <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                                    <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                                    <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                                    <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" disabled="disabled" value="@defaultValue" /></td>
                                                    <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 2:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 3:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 4:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 5:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 6:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" /></td>
                                                break;
                                        }

                                        </tr>
                                }

                                </tbody>
                            </table>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:none">
                        <dt class="col-dt"><i>*</i>尺寸(mm)：</dt>
                        <dd>
                            宽： <input type="number" style="width:105px" name="txtSizeMin" value="@doorDetail.WindowSizeMin" />
                            高： <input type="number" style="width:105px" name="txtSizeMax" value="@doorDetail.WindowSizeMax" />
                        </dd>
                    </dl>

            }
            else if (dMaster.DynamicType == 2)
            {
                <dl class="dynamic_module" style="display:none">
                    <dt class="col-dt"><i>*</i>宽度尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:105px" name="txtWindowSizeMin" value="@doorDetail.WindowSizeMin" />
                        <i>  - </i>
                        <input type="number" style="width:105px" name="txtWindowSizeMax" value="@doorDetail.WindowSizeMax" />
                    </dd>
                </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i>*</i>通风量计算公式：</dt>
                        <dd>
                            <input type="text" style="width:450px" name="txtWindowDesignFormula" value="@doorDetail.WindowDesignFormula" />
                        </dd>
                    </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i></i>参数取值：</dt>
                        <dd><i class="icon-tips" tips="<p>参数取值说明：</p><p>取值类型无表示没有此尺寸代号；不限表示取值无限制；<br/>范围表示取值是在最小值、最大值范围内；<br />固定值表示只能用值一栏中的固定值；<br />值系列表示取值可有多个值选项，以逗号分隔，<br />如600,700表示此项可取600或700两个值选项。</p>">&nbsp;</i></dd>
                    </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dd>
                            <table class="table table-bordered param" style="margin-left:60px;margin-right:60px; width:750px;">
                                <thead>
                                    <tr>
                                        <th width="80" class="text-center">尺寸代码</th>
                                        <th width="80" class="text-center">值类型</th>
                                        <th width="70" class="text-center">最小值</th>
                                        <th width="70" class="text-center">最大值</th>
                                        <th width="200" class="text-center">值</th>
                                        <th width="60" class="text-center">默认值</th>
                                        <th class="text-center">说明</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (CadDrawingParameter param in ViewBag.CadDrawingParams)
                                {
                                    string minValue = param.MinValue < 1 ? string.Empty : param.MinValue.ToString();
                                    string maxValue = param.MaxValue < 1 ? string.Empty : param.MaxValue.ToString();
                                    string defaultValue = param.DefaultValue < 1 ? string.Empty : param.DefaultValue.ToString();
                                        <tr sizeno="@param.SizeNo">
                                            <td class="text-center">@param.SizeNo</td>
                                            <td valign="middle">
                                                <select name="ValueType">
                                                    @foreach (DataSourceMember Member in ViewBag.Members)
                                                {
                                                    if (Member.ValueMember == param.ValueType.ToString())
                                                    {
                                                        <option value="@Member.ValueMember" selected="selected">@Member.DisplayMember</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Member.ValueMember">@Member.DisplayMember</option>
                                                    }

                                                }
                                                </select>
                                            </td>

                                            @switch (param.ValueType)
                                        {
                                            case 1:
                                                    <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                                    <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                                    <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                                    <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" disabled="disabled" value="@defaultValue" /></td>
                                                    <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 2:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 3:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" disabled="disabled" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" disabled="disabled" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 4:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" disabled="disabled" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 5:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" />@param.Desc</td>
                                                break;
                                            case 6:
                                            <td class="value"><input type="text" class="input-minvalue" name="MinValue" value="@minValue" /></td>
                                            <td class="value"><input type="text" class="input-maxvalue" name="MaxValue" value="@maxValue" /></td>
                                            <td class="value"><input type="text" class="input-val" name="Val" value="@param.Val" /></td>
                                            <td class="value"><input type="text" class="input-defaultvalue" name="DefaultValue" value="@defaultValue" /></td>
                                            <td class="desc"><input type="text" class="input-desc" name="Desc" /></td>
                                                break;
                                        }
                                        </tr>
                                }

                                </tbody>
                            </table>
                        </dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>尺寸(mm)：</dt>
                        <dd>
                            宽： <input type="number" style="width:105px" name="txtSizeMin" value="@doorDetail.WindowSizeMin" />
                            高： <input type="number" style="width:105px" name="txtSizeMax" value="@doorDetail.WindowSizeMax" />
                        </dd>
                    </dl>
            }
                <input type="hidden" name="param" />
                <input type="hidden" name="Id" value="@dMaster.Id" />
            </form>
        </div>
        <div class="main-column-handle">
            <div class="column-handle ">
                <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
                <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@dMaster.Id" data-state="@dMaster.DynamicType" data-billstatus="@dMaster.BillStatus">提交</button>
                <button type="button" class="btn btn-sunac btn-delete" data-id="@dMaster.Id">删除</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Door/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            if (rtv == false) {
                return false;
            }
            var param = Array();
            $(".param  tr").each(function (i, v) {
                let that = $(this);

                let SizeNo = that.attr("sizeno");
                let ValueType = that.find('select[name="ValueType"]').val();
                let Val = that.find('input[name="Val"]').val();
                let MinValue = that.find('input[name="MinValue"]').val();
                let MaxValue = that.find('input[name="MaxValue"]').val();
                let DefaultValue = that.find('input[name="DefaultValue"]').val();
                let Desc = that.find('input[name="Desc"]').val();
                if (SizeNo != undefined) {
                    let _json = '{"SizeNo":"' + SizeNo + '","ValueType":"' + ValueType + '","Val":"' + Val + '","MinValue":"' + MinValue + '","MaxValue":"' + MaxValue + '","DefaultValue":"' + DefaultValue + '","Desc":"' + Desc + '"}';
                    param.push(_json);
                }
            });
            let json_param = "[" + param.join(',') + "]";
            $('input[name="param"]').val(json_param);

            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                //layer.msg(data.message, { icon: 6, shade: false }, function () {
                //   // window.location.href = "/Door/Index"
                //});
                layer.alert(data.message, { icon: 6, shade: false });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })

        $('.param tr select[name="ValueType"]').on("change", function () {
            let value_type = parseInt($(this).val());
            let that = $(this).parent().parent();
            that.find('.input-val').attr("disabled", true);
            that.find('.input-minvalue').attr("disabled", true);
            that.find('.input-maxvalue').attr("disabled", true);
            that.find('.input-defaultvalue').attr("disabled", true);
            switch (value_type) {
                case 1:
                    console.log(value_type);

                    break;
                case 2:
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').focus();
                    break;
                case 3:
                    that.find('.input-val').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-val').focus();
                    break;
                case 4:
                    that.find('.input-minvalue').removeAttr('disabled');
                    that.find('.input-maxvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-minvalue').focus();
                    break;
                case 5:
                    that.find('.input-val').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').focus();
                    break;
                case 6:
                    that.find('.input-val').removeAttr('disabled');
                    that.find('.input-defaultvalue').removeAttr('disabled');
                    that.find('.input-defaultvalue').focus();
                    break;
                default:
                    break;

            }
        })

        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });

        $(".btn-delete").on("click", function () {
            let Id = $(this).data("id");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/door/deleteHandlebyid", { Id: Id }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/door/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });

        })

        $(".btn-bpm-submit").on("click", function () {
            let self = $(this);
            let billstatus = self.data("billstatus");
            if (billstatus == 2) {
                layer.alert("已提交审核，请勿重复提交！", { icon: 6, shade: false });
                return;
            }
            layer.confirm('是否提交BPM审核', {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                let Id = self.data("id");
                let State = self.data("state");
                $.post("/Door/WriteBPMDoorApproval", { Id: Id, State: State }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.reload();
                        })
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })
    })

</script>



