@using SunacCADApp.Entity;
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    CadDrawingDoorDetail doorDetail = ViewBag.Door;
    
}
<div class="row topnav">
     <a>标准部品库</a>
    <i></i>
     <a>外窗</a>
    <i></i>
     <a>CD02X1外开双扇下</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure>
            <img src="~/uploader/windows-img.png" />
            <p>@dMaster.DrawingName</p>
        </figure>
    </div>
    <div class="mian-column">
        <dl>
            <dt><i>*</i>原型编号:</dt>
            <dd>
                @dMaster.DrawingCode
               
        </dl>
        <dl>
            <dt><i>*</i>原型dwg文件:</dt>
            <dd>
                @dMaster.DrawingName
            </dd>
        </dl>
        <dl>
            <dt><i>*</i>使用范围:</dt>
            <dd style="width:500px;">
                <span style="display:block;padding-top:5px;line-height:35px;">
         
                    @if (dMaster.Scope == 1)
                    {            
                         <span class="online-checkbox">
                                <label>集团</label>
                         </span>
                    }

                
                    @foreach (CadDrawingByArea Area in ViewBag.ByAreas)
                    {
                        <span class="online-checkbox">
                            <label>@Area.AreaName</label>
                        </span>
                    }

                </span>
                
            </dd>
        </dl>
        <dl>
            <dt><i></i>模块类型：</dt>
            <dd>
                @if (dMaster.DynamicType == 1)
                {
                    <span class="online-checkbox">
                        <label for="radio_dynamic_module">动态模型</label>
                    </span>
                }
                else if (dMaster.DynamicType == 2)
                {
                    <span class="online-checkbox">
                        <label for="radio_static_module">静态模型</label>
                    </span>
                }
            </dd>
        </dl>
        <dl>
            <dt><i></i>门类型：</dt>
            <dd>
                @doorDetail.DoorTypeName
            </dd>
        </dl>
        

        <dl>
            <dt><i></i>宽度尺寸范围（mm）：</dt>
            <dd>
                 @doorDetail.WindowSizeMin
                <i>-</i>
                @doorDetail.WindowSizeMax
            </dd>
        </dl>
       
       
        <div class="row" style="margin-bottom:20px;padding-left:15px;padding-right:30px;">

            <div class="col-md-6 col-sm-6">
                <a  class="btn btn-sunac" href="/Door/Edit/@dMaster.Id">编辑</a>
            </div>
            
        </div>
    </div>
    
</div>
