@using SunacCADApp.Entity
@using SunacCADApp.Library
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster dMaster = ViewBag.CadDrawingMaster;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;
    CadDrawingHandrailDetail Handrail = ViewBag.HandrailDetail;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? string.Empty : ExpansionDWG.FileClass;
    imageName = dMaster.DrawingCode;
    int PrototypeEdit = ViewBag.PrototypeEdit;
    int PrototypeRemove = ViewBag.PrototypeRemove;
    int PrototypeApprove = ViewBag.PrototypeApprove;
    string BPMWEBURL = ViewBag.BPMWEBURL;
    string ProcInstId = dMaster.BPMProcInstID;
    string ProKeyCode = API_Common.GetEnCodeStr(ProcInstId);
    string approvalViewURL = string.Format("{0}/Workflow/MTApprovalView.aspx?procInstId={1}&key={2}", BPMWEBURL, ProcInstId, ProKeyCode);
}

<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/handrail/Index">栏杆</a>
    <i></i>
    <a>@dMaster.DrawingCode</a>
    <span class="check-state">
        @if (dMaster.BillStatus == 2)
        {
            <span class="check-state">
                <a class="state-a-checked" href="@approvalViewURL">审批流程查看</a>
            </span>
        }
    </span>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" />
            <p>@imageName</p>
        </figure>
    </div>
    <div class="mian-column" >
        <div class="column-tbody" style="min-height:256px;">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="dis_drawingcode" value="@dMaster.DrawingCode" placeholder="原型编号"  readonly="readonly"/>
                        <input type="hidden" name="hid_drawingcode" value="@dMaster.DrawingCode" />
                        <i class="icon-tips" tips="<p>栏杆原型编号规则：开启代号+原型代码，例如Railing_T1、Railing_T2...<br/>
                                                                       栏杆开启代码：T铁艺栏杆、B玻璃栏杆<br />
                                                                 </p>">&nbsp;</i>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>原型文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" value="@ExpansionDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" value="@ExpansionDWG.FileClass" class="required" data-error="展开图文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                @if (dMaster.Scope == 1)
                                {
                                    <input type="checkbox" id="all" name="chk_area" class="select-all select-area" value="1" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" id="all" name="chk_area" class="select-all select-area" value="1" />
                                }

                                <label for="all">集团</label>
                            </span>

                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                            {
                                string str_check = string.Empty;
                                int hasArea = ByAreas.Where(e => e.AreaID == Setting.Id).Count();
                                str_check = hasArea > 0 ? "checked" : string.Empty;
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox select-area" @str_check />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                            }
                        </span>

                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>栏杆类型：</dt>
                    <dd>
                        <select name="HandRailType" class="required" data-error="栏杆类型不能为空">
                            @foreach (BasArgumentSetting HandRailType in ViewBag.HandRails)
                            {
                                if (HandRailType.Id == Handrail.HandrailType)
                                {
                                    <option value="@HandRailType.Id" selected="selected">@HandRailType.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@HandRailType.Id">@HandRailType.ArgumentText</option>

                                }

                            }
                        </select>
                    </dd>
                </dl>
                <input type="hidden" name="Id" value="@dMaster.Id" />
            </form>
        </div>
        <div class="main-column-handle">
            <div class="column-handle">
                @if (PrototypeEdit == 1)
                {
                    <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
                }
                
                @if (PrototypeApprove == 1)
                {
                    <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@dMaster.Id" data-state="@dMaster.DynamicType" data-billstatus="@dMaster.BillStatus" data-bpmprocinstid="@dMaster.BPMProcInstID" data-bpmjobid="@dMaster.BPMJobid">提交</button>
                }
                
                @if (PrototypeRemove == 1)
                {
                    <button type="button" class="btn btn-sunac btn-delete" data-id="@dMaster.Id" data-billstatus="@dMaster.BillStatus" data-bpmprocinstid="@dMaster.BPMProcInstID" data-bpmjobid="@dMaster.BPMJobid">删除</button>
                }
            
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/handrail/edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            if (rtv == false) {
                return false;
            }
            var areaid = $('.select-area').is(':checked')
            if (areaid == false) {
                layer.msg("请选择使用范围");
                return false;
            }
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                //layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                //    window.location.href = "/handrail/Index"
                //});
                layer.alert(data.message, { icon: 6, shade: false });
            } else if (data.code == 110) {
                let layindex = layer.alert(data.message, { icon: 6, shade: false }, function () {
                    let BSID = data.BSID;
                    let BTID = data.BTID;
                    let BOID = data.BOID;
                    window.open("@ViewBag.BPMWEBURL/Workflow/MTStart2.aspx?BSID=" + BSID + "&BTID=" + BTID + "&BOID=" + BOID);
                    layer.close(layer.index);
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            resetForm();
            $("#myform").resetForm();
        });



        $(".btn-delete").on("click", function () {
            let self = $(this);
            let Id = self.data("id");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/handrail/deleteHandlebyid", { Id: Id, billstatus: billstatus, bpmprocinstid: bpmprocinstid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/handrail/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });
        })


        $(".btn-bpm-submit").on("click", function () {

            let self = $(this);

            let billstatus = self.data("billstatus");
            if (billstatus == 2) {
                layer.alert("已提交审核，请勿重复提交！", { icon: 6, shade: false });
                return;
            }
            layer.confirm('是否提交BPM审核', {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                let Id = self.data("id");
                let State = self.data("state");
                $.post("/handrail/CadWirteBPMApproval", { Id: Id, State: State }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/handrail/index";
                        })
                    } else if (data.code == 110) {
                        let layindex = layer.alert(data.message, { icon: 6, shade: false }, function () {
                            let BSID = data.BSID;
                            let BTID = data.BTID;
                            let BOID = data.BOID;
                            window.open("@ViewBag.BPMWEBURL/Workflow/MTStart2.aspx?BSID=" + BSID + "&BTID=" + BTID + "&BOID=" + BOID);
                            layer.close(layer.index);
                        });
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })
    })

</script>
@if (PrototypeEdit == 0)
{
    <script type="text/javascript">
        $(function () {
            layer.alert("抱歉，当前用户暂无原型编辑权限,请联系管理员开通", { icon: 0, title: "权限提示" }, function () {

                window.location.href = "/door/index";
            });
        });
    </script>
}



