@{
    Layout = "~/Views/_LayoutPage.cshtml";
    IList<CadDrawingWindowSearch> listCadDrawing = ViewBag.List;
}
@using SunacCADApp.Entity
<div class="row search search-bottom">
    <dl >
        <dt>区域：</dt>
        <dd class="dd_area">
            @if (ViewBag.Area == 0)
            {
                <a class="active">全部</a>
            }
            else
            {
                <a>全部</a>
            }
            @if (ViewBag.area == -9999)
            {
                <a class="area active" data-val="-9999">集团</a>
            }
            else
            {
                <a class="area" data-val="-9999">集团</a>
            }
            @foreach (BasArgumentSetting argument in ViewBag.Settings)
            {
                if (argument.Id == ViewBag.Area)
                {
                    <a data-val="@argument.Id" class="active">@argument.ArgumentText</a>
                }
                else
                {
                    <a data-val="@argument.Id">@argument.ArgumentText</a>
                }
            }

        </dd>

    </dl>
</div>
<div class="row search search-bottom">

    <dl>
        <dt>栏杆类型：</dt>
        <dd class="dd_handrailtype">
            @if (ViewBag.HandRailType == 0)
            {
                <a class="active">全部</a>
            }
            else
            {
                <a>全部</a>
            }
            
            @foreach (BasArgumentSetting HandRail in ViewBag.HandRails)
            {
                if (HandRail.Id == ViewBag.HandRailType)
                {
                    <a data-val="@HandRail.Id" class="active">@HandRail.ArgumentText</a>
                }
                else
                {
                    <a data-val="@HandRail.Id">@HandRail.ArgumentText</a>
                }

            }
        </dd>
    </dl>
</div>


<div class="row search keywords search-bottom">
    <dl>
        <dt> 关键词搜索：</dt>
        <dd>
            <span class="sear-input">
                <input type="text" value="@ViewBag.Keyword" />
                <em></em>
            </span>

        </dd>
    </dl>
    <a class="btn-new" href="/handrail/add" style="margin-right:15px">新增</a>
</div>
<div class="row list">
    <ul>
        @foreach (CadDrawingWindowSearch drawing in ViewBag.List)
        {
            <li>
                <a href="/Handrail/LookOver/@drawing.Id">
                    <figure>

                        <img src="@drawing.DWGPath" />
                        <p>@drawing.DrawingCode</p>
                    </figure>
                </a>
                @if (drawing.BillStatus == 0 || drawing.BillStatus == 1)
                {
                    <span class="state">草稿</span>
                }
                else if (drawing.BillStatus == 2)
                {
                    <span class="state unchecked">审核中</span>
                }
                else if (drawing.BillStatus == 3)
                {

                }
            </li>
        }
    </ul>
    @if (listCadDrawing.Count == 0)
    {
        <div class="no-record">
            没有符合要求的原型
        </div>
    }
</div>
<script type="text/javascript">

    $(".search a").on('click', function () {
        let that = $(this);
        let parent = $(this).parent();
        parent.find("a").removeClass("active")
        that.addClass("active");
        let param = searchparam();
        window.location.href = "/handrail?" + param
    });

    $(".sear-input em").on("click", function () {

        window.location.href = "/"
    })

    $(".sear-input em").on("click", function () {

        let keyword = $('.sear-input').find('input[type="text"]').val();
        window.location.href = "/handrail?keyword=" + keyword;
    })

    var searchparam = function () {
        let param = '1';
        let area = parseInt($(".dd_area .active").data("val"));
        if (area > 0 || area == -9999) {
            param += '&area=' + area;
        }
        let handrailtype = parseInt($(".dd_handrailtype .active").data("val"))
        if (handrailtype > 0) {
            param += '&handrailtype=' + handrailtype;
        }
        return param;
    }
</script>

