@using SunacCADApp.Entity
@{
    Layout = "~/Views/_LayoutPage.cshtml";
    CadDrawingMaster Drawing = ViewBag.CadDrawingMaster;
    IList<CadDrawingByArea> ByAreas = ViewBag.ByAreas;
    CadDrawingHandrailDetail Handrail = ViewBag.handrail;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath   = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? string.Empty : ExpansionDWG.FileClass;
    string cadName = Drawing.DrawingCode;
}
<div class="row topnav">
     <a>标准部品库</a>
    <i></i>
    <a href="/handrail/index">栏杆</a>
    <i></i>
     <a>@Drawing.DrawingCode</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure>
            <img src="@imagePath" />
            <p>@cadName</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody" style="min-height:256px;">
            <dl>
                <dt class="col-dt"><i>*</i>原型编号：</dt>
                <dd>
                    @Drawing.DrawingCode
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i></i>原型文件：</dt>
                <dd>
                    <span class="dl-file-disabled">@(string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "无" : ExpansionDWG.FileClass)</span>
                    <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                    <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                    <input type="hidden" name="hid_drawing_type" value="ExpansionView" />
                    <a class="btn-upfile  download-upfile" data-src="@ExpansionDWG.CADPath" data-filename="@cadName">下载</a>
                </dd>
            </dl>

            <dl>
                <dt class="col-dt"><i>*</i>使用范围：</dt>
                <dd style="width:500px;">
                    <span style="display:block;padding-top:5px;line-height:35px;">
                        @if (Drawing.Scope == 1)
                        {
                            <span class="online-checkbox">
                                <label>集团</label>
                            </span>
                        }

                        @foreach (CadDrawingByArea Area in ByAreas)
                        {
                            <span class="online-checkbox">
                                <label>@Area.AreaName</label>
                            </span>
                        }

                    </span>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i></i>栏杆类型：</dt>
                <dd>
                    @Handrail.HandrailTypeName
                </dd>
            </dl>
        </div>
        <div class="main-column-handle">


            <div class="column-handle">
                <a class="btn btn-sunac" href="/handrail/Edit/@Drawing.Id">编辑</a>
            </div>
        </div>
    </div>
    
</div>
<script type="text/javascript">
    $(function () {
        $(".btn-delete").on("click", function () {
            let Id = $(this).data("id");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/handrail/deleteHandlebyid", { Id: Id }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/door/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                },'json');
            });
        })

    })
</script>
