@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity;
<div id="sunac">
    <div class="row">
        <div class="col-lg-12 panel-search">
            <span class="panel-item panel-form">
                <input type="text" name="search-keyword" class="form-control" placeholder="输入公司名称" value="@ViewBag.Keyword" />
            </span>
            <span class="panel-item panel-button">
                <button class="btn btn-sunac icon-search" type="button">
                    查询
                </button>
            </span>
            <span class="panel-item panel-button icon-add">
                <button class="btn btn-sunac icon-add-extend btn-add" type="button">
                    新增
                </button>
            </span>
        </div>
    </div>

    <div class="row panel-table">
        <table class="table">
            <thead>
                <tr>
                    <th width="60" class="text-center">选择</th>
                    <th width="60" class="text-center">序号</th>
                    <th width="180">组织机构代码</th>
                    <th>公司名称</th>
                    <th width="160" class="text-center">创建时间</th>
                    <th width="100" class="text-center">人员</th>
                    <th width="60" class="text-center">状态</th>
                    <th width="120" class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (BaseCompanyInfo basecompanyinfo in ViewBag.List)
                    {
                        <tr>
                            <td align="center">
                                <input type="checkbox" class="checkbox" />
                            </td>
                            <td class="text-center">@(i++)</td>
                            <td>@basecompanyinfo.InsEnCode</td>
                            <td>@basecompanyinfo.CompanyName</td>
                            <td class="text-center">@basecompanyinfo.ModifiedOn.ToString("yyyy-MM-dd  HH:mm:ss")</td>
                            <td class="text-center">查看人员</td>
                            <td class="text-center handle-enabled">
                                @if (@basecompanyinfo.Enabled == 1)
                                {
                                    <b style="color:#60efe9;font-weight:normal;cursor:pointer" data-id="@basecompanyinfo.Id" data-enabled="0">开启</b>
                                }
                                else
                                {
                                    <b style="color:#cccccc;font-weight:normal;cursor:pointer" data-id="@basecompanyinfo.Id" data-enabled="1">禁用</b>
                                }
                            </td>
                            <td align="center" class="operate">
                                <a href="javascript:void(0)" class="handle-modify" data-id="@basecompanyinfo.Id">修改</a> |
                                <a data-id="@basecompanyinfo.Id" title="删除" class="handle-delete" href="javascript:void(0)">删除</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            int page = ViewBag.CurrentPage - 1;
            <a href="?@ViewBag.URL&page=@page">上一页</a>
        }
        else
        {
            <a class="dispaly">上一页</a>
        }
        
        <b>@ViewBag.CurrentPage</b>/
        <strong>@ViewBag.PageCount</strong>
       @if (ViewBag.CurrentPage < ViewBag.PageCount)
       {
          int page=ViewBag.CurrentPage+1;
        <a href="?@ViewBag.URL&page=@page">下一页</a>
       }
       else
       {
        <a class="dispaly">下一页</a>
       }
        
        <input type="text" style="width:40px;"  id="currentpage" value="@ViewBag.CurrentPage"/>
        <a id="btnskip">跳转</a>
    </div>

</div>
<script type="text/javascript">
    $(function () {
        $(".btn-add").on("click", function () {
            var index = layer.open({
                type: 2,
                skin: 'layer-ext-sunacskin',
                area: ['579px', '450px'],
                title: '新增机构',
                shade:0,
                content: '/companyinfo/add'
            });
        });

        $(".handle-modify").on("click", function () {
            let id = $(this).data("id");
            var index = layer.open({
                type: 2,
                skin: 'layer-ext-sunacskin',
                area: ['579px', '450px'],
                title: '机构修改',
                shade: 0,
                content: '/companyinfo/edit/'+id
            });
        });

        $('.handle-delete').on('click', function () {
            var id = $(this).data('id');
            if (id > 0) {
                layer.confirm('是否需要删除', {
                    btn: ['删除', '取消'],
                    shade: false,
                    icon: 3
                }, function () {
                    $.get("/companyinfo/deletehandlebyid", { id: id }, function (data) {
                        if (data.code == 100) {
                            layer.alert(data.message, { icon: 6, shade: false }, function () {
                                location.reload();
                            });
                        } else {
                            layer.alert(data.message, { icon: 5, shade: false });
                        }
                    }, 'json');

                });
            } else {
                layer.msg('非法操作', { icon: 5, shade: false });
            }
        });

        $('.handle-enabled b').on('click', function () {
            let id = $(this).data("id");
            let enabled = $(this).data("enabled");
            let tip_msg = enabled == 0 ? "是否禁用" : "是否开启";
            layer.confirm(tip_msg,{icon:3,title:"提示"}, function (index) {
                $.post("/companyinfo/ChangeCompanyEnabled", { id: id, enabled: enabled }, function (data) {
                    if (data.code == 100) {
                        layer.alert(data.message, { icon: 6, shade: false }, function () {
                            location.reload();
                        });
                    }
                    else
                    {
                        layer.alert(data.message, { icon: 5, shade: false });
                    }
                }, 'json')
                layer.close(index);
            });

        })

        $('.icon-search').on('click', function () {
            var keyword = $('input[name="search-keyword"]').val();
            window.location.href = "?keyword=" + keyword;
        })

        $('#btnskip').on('click', function () {
            var currentpage = parseInt($('#currentpage').val());
            var pageCount = parseInt(@ViewBag.PageCount);
            if (currentpage < 1)
            {
                currentpage = 1;
            }
            if (currentpage >= pageCount)
            {
                currentpage = pageCount;
            }
            window.location.href="?@Html.Raw(ViewBag.URL)&page="+currentpage;
        });


    })
</script>

