@using SunacCADApp.Entity;
@{
    Layout = "~/Views/_LayoutPage.cshtml";

    IList<BasInstitutionData> InstitutionList = ViewBag.List;
    IList<PageNum> pageNumList = ViewBag.PageNumList;
    int pageCount = ViewBag.PageCount;
    int recordCount = ViewBag.RecordCount;
    int current = ViewBag.CurrentPage;
}

<div id="sunac" style="min-width:1024px;">
    <div class="row">
        <div class="col-lg-12 panel-search">
            <span class="panel-item panel-form">
                <input type="text" name="search-keyword" class="form-control" placeholder="输入公司名称" value="@ViewBag.Keyword" />
            </span>
            <span class="panel-item panel-button">
                <button class="btn btn-sunac icon-search" type="button">
                    查询
                </button>
            </span>
        </div>
    </div>

    <div class="row panel-table">
        <table class="table">
            <thead>
                <tr>
                    <th width="60" class="text-center">选择</th>
                    <th width="60" class="text-center">序号</th>
                    <th width="180">组织机构代码</th>
                    <th>公司名称</th>
                    <th width="160" class="text-center">创建时间</th>
                    <th width="100" class="text-center">人员</th>
                    <th width="60" class="text-center">状态</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (BasInstitutionData Ins in InstitutionList)
                    {
                        <tr>
                            <td align="center">
                                <input type="checkbox" class="checkbox" />
                            </td>
                            <td class="text-center">@(i++)</td>
                            <td>@Ins.InsEnCode</td>
                            <td>@Ins.InsName</td>
                            <td class="text-center">@Ins.ModifiedOn.ToString("yyyy-MM-dd  HH:mm:ss")</td>
                            <td class="viewpersonnel cursor-pointer text-center" data-companyid="@Ins.Id">查看人员</td>
                            <td class="handle-enabled text-center">
                                @if (Ins.Enabled == 1)
                                {
                                    <b class="disabled" data-id="@Ins.Id" data-enabled="0" style="color:#b38e64">开启</b>
                                }
                                else
                                {
                                    <b class="enabled" data-id="@Ins.Id" data-enabled="1">禁用</b>
                                }
                            </td>
                  
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if (InstitutionList.Count == 0)
        {
            <div class="no-record">
                暂无记录信息
            </div>
        }
    </div>
    <div class="row" id="sunac-paging">
        <b>共<span>@ViewBag.recordCount</span>条</b>
        <b>
            <select class="form-control control-page-size">
                @foreach (PageNum page in pageNumList)
                {
                    if (page.Code == ViewBag.PageSize)
                    {
                        <option value="@page.Code" selected="selected">@page.Text</option>
                    }
                    else
                    {
                        <option value="@page.Code">@page.Text</option>
                    }

                }

            </select>
        </b>
        @if (ViewBag.PreviousPage < 1)
        {
            <a class="none"><i class="fa  fa-angle-left fa-lg"></i></a>
        }
        else
        {
            <a href="?pagesize=@ViewBag.PageSize&page=@ViewBag.PreviousPage"><i class="fa  fa-angle-left fa-lg"></i></a>
        }

        @for (int page = ViewBag.StartPage; page <= ViewBag.EndPage; page++)
        {
            if (page == current)
            {
                <a class="current">@page</a>
            }
            else
            {
                <a href="?pagesize=@ViewBag.PageSize&page=@page">@page</a>
            }

        }
        @if (ViewBag.EndPage != ViewBag.PageCount)
        {
            <a>...</a>
            <a href="?pagesize=@ViewBag.PageSize&page=@ViewBag.PageCount">@ViewBag.PageCount</a>
            <a href="?pagesize=@ViewBag.PageSize&page=@ViewBag.NextPage"><i class="fa  fa-angle-right fa-lg"></i></a>
        }
        else
        {
            <a class="none"><i class="fa  fa-angle-right fa-lg"></i></a>
        }
        <strong>
            前往<input type="text" class="form-control" value="@ViewBag.CurrentPage">页
        </strong>
    </div>

</div>
<script type="text/javascript">
    $(function () {
        $(".btn-add").on("click", function () {
            var index = layer.open({
                type: 2,
                skin: 'layer-ext-sunacskin',
                area: ['579px', '450px'],
                title: '新增机构',
                shade:0,
                content: '/companyinfo/add'
            });
        });

        $(".handle-modify").on("click", function () {
            let id = $(this).data("id");
            var index = layer.open({
                type: 2,
                skin: 'layer-ext-sunacskin',
                area: ['579px', '450px'],
                title: '机构修改',
                shade: 0,
                content: '/companyinfo/edit/'+id
            });
        });

        $('.handle-delete').on('click', function () {
            var id = $(this).data('id');
            if (id > 0) {
                layer.confirm('是否需要删除', {
                    btn: ['删除', '取消'],
                    shade: false,
                    icon: 3
                }, function () {
                    $.get("/companyinfo/deletehandlebyid", { id: id }, function (data) {
                        if (data.code == 100) {
                            layer.alert(data.message, { icon: 6, shade: false }, function () {
                                location.reload();
                            });
                        } else {
                            layer.alert(data.message, { icon: 5, shade: false });
                        }
                    }, 'json');

                });
            } else {
                layer.msg('非法操作', { icon: 5, shade: false });
            }
        });

        $('.handle-enabled b,.btn-enabled').on('click', function () {
            let id = $(this).data("id");
            let enabled = $(this).data("enabled");
            let tip_msg = enabled == 0 ? "是否禁用" : "是否开启";
            layer.confirm(tip_msg, { icon: 3, title: "禁用提示", shade: false }, function (index) {
                $.post("/companyinfo/ChangeCompanyEnabled", { id: id, enabled: enabled }, function (data) {
                    if (data.code == 100) {
                        layer.alert(data.message, { icon: 6, shade: false }, function () {
                            location.reload();
                        });
                    }
                    else
                    {
                        layer.alert(data.message, { icon: 5, shade: false });
                    }
                }, 'json')
                layer.close(index);
            });

        })

        $('.icon-search').on('click', function () {
            var keyword = $('input[name="search-keyword"]').val();
            window.location.href = "?keyword=" + keyword;
        });

        $('#btnskip').on('click', function () {
             var currentpage = parseInt($('#currentpage').val());
             var pageCount = parseInt(@ViewBag.PageCount);
             if (currentpage < 1)
             {
                currentpage = 1;
             }
            if (currentpage >= pageCount)
            {
                currentpage = pageCount;
            }
            window.location.href="?@Html.Raw(ViewBag.URL)&page="+currentpage;
       })

        $('.viewpersonnel').on('click', function () {
            let companyid = $(this).data("companyid");
            var index = layer.open({
                type: 2,
                skin: 'layer-ext-sunacskin',
                area: ['73%', '80%'],
                title: '机构人员',
                shade: 0,
                content: '/sysuser/viewprojectuserbyid?companyid=' + companyid
            });
        })

    })
</script>

