@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/kitchen/index">厨房</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="~/Content/Css/img/icon-no-image.png" width="238" heigth="200" />
            <p></p>
        </figure>
    </div>
    <div class="mian-column">
        <form name="myform" id="myform">
            <dl>
                <dt class="col-dt"><i>*</i>原型编号：</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingcode" class="required" />
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>展开图文件：</dt>
                <dd>
                    <input type="text" style="width:378px" name="txt_filename" placeholder="展开图文件" class="required" data-error="展开图文件不能为空" />
                    <input type="hidden" name="txt_drawingcad" />
                    <input type="hidden" name="hid_drawing_img" value="" />
                    <input type="hidden" name="hid_drawing_type" value="ExpansionView" />
                    <a class="btn-upfile" href="javascript:void(0)">
                        文件上传
                        <input type="file" class="upload-cad" />
                    </a>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>使用范围：</dt>
                <dd style="width:500px;">
                    <span style="display:block;padding-top:5px;line-height:35px;">
                        <span class="online-checkbox">
                            <input type="checkbox" id="all" name="chk_area" class="select-all" />
                            <label for="all">全部</label>
                        </span>
                        @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            <span class="online-checkbox">
                                <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" />
                                <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                            </span>
                        }
                    </span>

                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>厨房类型：</dt>
                <dd>
                    <select name="selectKitchenType">
                        @foreach (BasArgumentSetting KitchenType in ViewBag.KitchenType)
                        {
                            <option value="@KitchenType.Id">@KitchenType.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>门窗位置：</dt>
                <dd>
                    <select name="selectKitchenPosition">
                        @foreach (BasArgumentSetting DoorWindowPosition in ViewBag.DoorWindowPositions)
                        {
                            <option value="@DoorWindowPosition.Id">@DoorWindowPosition.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>模块类型：</dt>
                <dd>
                    <span class="online-checkbox">
                        <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                        <label for="radio_dynamic_module">动态模型</label>
                    </span>
                    <span class="online-checkbox">
                        <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                        <label for="radio_static_module">静态模型</label>
                    </span>
                </dd>
            </dl>

            <dl class="dynamic_module">
                <dt class="col-dt"><i>*</i>是否包含气道：</dt>
                <dd>
                    <span class="online-checkbox">
                        <input type="radio" name="radio_kitchenisairduct" id="radio_static_module" value="1" />
                        <label for="radio_static_module">是</label>
                    </span>
                    <span class="online-checkbox">
                        <input type="radio" name="radio_kitchenisairduct" id="radio_static_module" value="0" />
                        <label for="radio_static_module">否</label>
                    </span>
                </dd>
            </dl>
            <dl class="dynamic_module">
                <dt class="col-dt"><i>*</i>开间尺寸范围(mm)：</dt>
                <dd>
                    <input type="number" style="width:50px" name="txtKitchenOpenSizeMin" value="1" />
                    <i> -- &nbsp; </i>
                    <input type="number" style="width:50px" name="txtKitchenOpenSizeMax"  value="2"/>
                </dd>
            </dl>
            <dl class="dynamic_module">
                <dt class="col-dt"><i>*</i>进深尺寸范围(mm)：</dt>
                <dd>
                    <input type="number" style="width:50px" name="txtKitchenDepthsizeMin"  value="1"/>
                    <i> -- &nbsp; </i>
                    <input type="number" style="width:50px" name="txtKitchenDepthsizeMax" value="2" />
                </dd>
            </dl>
            <dl class="static_module">
                <dt class="col-dt"><i>*</i>开间进深(mm)：</dt>
                <dd>
                    <input type="number" style="width:50px" name="txtWindowSizeMin" />
                    <i> -- &nbsp; </i>
                    <input type="number" style="width:50px" name="txtWindowSizeMax" />
                </dd>
            </dl>
            <dl class="static_module">
                <dt class="col-dt"><i>*</i>台盆尺寸：</dt>
                <dd>
                    <select name="selectKitchenBasinSize">
                        @foreach (BasArgumentSetting KitchenBasinType in ViewBag.KitchenBasinTypes)
                        {
                            <option value="@KitchenBasinType.Id">@KitchenBasinType.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
            <dl class="static_module">
                <dt class="col-dt"><i>*</i>冰箱尺寸：</dt>
                <dd>
                    <select name="selectKitchenFridgSize">
                        @foreach (BasArgumentSetting RefrigeratorType in ViewBag.RefrigeratorTypes)
                        {
                            <option value="@RefrigeratorType.Id">@RefrigeratorType.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
            <dl class="static_module">
                <dt class="col-dt"><i>*</i>灶台尺寸：</dt>
                <dd>
                    <select name="selectKitchenHearthSize">
                        @foreach (BasArgumentSetting HearthWidth in ViewBag.HearthWidths)
                        {
                            <option value="@HearthWidth.Id">@HearthWidth.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
        </form>
        <div class="row" style="margin-bottom:20px;padding-left:15px;padding-right:30px;">
            <div class="col-md-6 col-sm-6">
                <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
            </div>
            
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Kitchen/Addhandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/Kitchen/Index"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });
    })

</script>



