@{
    Layout = "~/Views/_LayoutPage.cshtml";
    int PrototypeAdd = ViewBag.PrototypeAdd;
}
@using SunacCADApp.Entity
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/kitchen/index">厨房</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="~/Content/Css/img/icon-no-image.png" width="238" heigth="200" />
            <p></p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="txt_drawingcode" class="required" data-error="厨房原型编号不能为空" />
                        <i class="icon-tips" tips="<p>门窗原型编号规则：开启代号+原型代码， 例如： NC1、NC2...<br />
                                                                       门窗开启代码：NC内开窗、NZC 内开转角窗、NDC内开内倒窗、NDZC内开内倒转角窗、WC外开窗、
                                                                        WZC外开转角窗、TC推拉窗、TLM推拉门、TSTLM提升推拉门、MLC门连窗、WM外开门</p>">&nbsp;</i>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>原型文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" readonly="readonly" />
                        <input type="hidden"  name="txt_filename"  class="required" data-error="原型文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" />
                        <input type="hidden" name="hid_drawing_img" value="" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                <input type="checkbox" id="all" name="chk_area" class="select-all checkbox-area" checked="checked"  value="1"/>
                                <label for="all">集团</label>
                            </span>
                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox checkbox-area" />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>厨房类型：</dt>
                    <dd>
                        <select name="selectKitchenType" style="width:105px;">
                            @foreach (BasArgumentSetting KitchenType in ViewBag.KitchenType)
                        {
                                <option value="@KitchenType.Id">@KitchenType.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>门窗位置：</dt>
                    <dd>
                        <select name="selectKitchenPosition" style="width:105px;">
                            @foreach (BasArgumentSetting DoorWindowPosition in ViewBag.DoorWindowPositions)
                            {
                                <option value="@DoorWindowPosition.Id">@DoorWindowPosition.ArgumentText</option>
                            }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>模块类型：</dt>
                    <dd>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态原型</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                            <label for="radio_static_module">定型原型</label>
                        </span>
                    </dd>
                </dl>

                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>是否包含排气道：</dt>
                    <dd>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_kitchenisairduct" id="radio_kitchenisairduct01" value="1" checked="checked" />
                            <label for="radio_kitchenisairduct01">是</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_kitchenisairduct" id="radio_kitchenisairduct02" value="0" />
                            <label for="radio_kitchenisairduct02">否</label>
                        </span>
                    </dd>
                </dl>
                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>开间尺寸范围：</dt>
                    <dd>
                        <input type="number" style="width:105px" name="txtKitchenOpenSizeMin" value="0" />
                        <i> - </i>
                        <input type="number" style="width:105px" name="txtKitchenOpenSizeMax" value="0" />
                        <i>mm</i>
                    </dd>
                </dl>
                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>进深尺寸范围：</dt>
                    <dd>
                        <input type="number" style="width:105px" name="txtKitchenDepthsizeMin" value="0" />
                        <i> - </i>
                        <input type="number" style="width:105px" name="txtKitchenDepthsizeMax" value="0" />
                        <i>mm</i>
                    </dd>
                </dl>
                <dl class="static_module">
                    <dt class="col-dt"><i>*</i>开间进深：</dt>
                    <dd>
                        <input type="number" style="width:105px" name="txtWindowSizeMin" value="0" />
                        <i>  × </i>
                        <input type="number" style="width:105px" name="txtWindowSizeMax" value="0" />
                        <i>mm</i>
                    </dd>
                </dl>
                <dl class="static_module">
                    <dt class="col-dt"><i>*</i>台盆尺寸：</dt>
                    <dd>
                        <select name="selectKitchenBasinSize" style="width:105px;">
                            @foreach (BasArgumentSetting KitchenBasinType in ViewBag.KitchenBasinTypes)
                        {
                                <option value="@KitchenBasinType.Id">@KitchenBasinType.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module">
                    <dt class="col-dt"><i>*</i>冰箱尺寸：</dt>
                    <dd>
                        <select name="selectKitchenFridgSize" style="width:105px;">
                            @foreach (BasArgumentSetting RefrigeratorType in ViewBag.RefrigeratorTypes)
                        {
                                <option value="@RefrigeratorType.Id">@RefrigeratorType.ArgumentText</option>
                        }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module">
                    <dt class="col-dt"><i>*</i>灶台尺寸：</dt>
                    <dd>
                        <select name="selectKitchenHearthSize" style="width:105px;">
                            @foreach (BasArgumentSetting HearthWidth in ViewBag.HearthWidths)
                            {
                                <option value="@HearthWidth.Id">@HearthWidth.ArgumentText</option>
                            }
                        </select>
                    </dd>
                </dl>
                <input type="hidden" name="hid_operate" />
            </form>
        </div>
        @if (PrototypeAdd == 1)
        {
            <div class="main-column-handle">
                <div class="column-handle">
                    <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
                    <button type="button" class="btn btn-sunac" id="btn_cancel">取消</button>
                    <button type="button" class="btn btn-sunac" id="btn_save01" data-value="commit">提交</button>
                </div>
            </div>
        }
  
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Kitchen/Addhandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                //layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                //    window.location.href = "/Kitchen/Index"
                //});
                layer.alert(data.message, { icon: 6, shade: false });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_save01").on('click', function () {
            $('input[name="hid_operate"]').val($(this).data("value"));
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });



        $('input[name="txt_drawingcode"]').on('focusout', function () {
            let that = $(this);
            let code = that.val();
            $.post('/CommonLib/HasDradrawingCode', { code: code }, function (data) {
                if (data.Code != 100) {
                    layer.alert(data.Message, { icon: 5, shade: 0 }, function () {
                        that.val('');
                        layer.closeAll();
                    });
                }
            }, 'json')
        })
    })

</script>

@if (PrototypeAdd == 0)
{
    <script type="text/javascript">
        $(function () {
            layer.alert("抱歉，当前用户暂无原型查看权限,请联系管理员开通", { icon: 0, title: "权限提示" }, function () {

                window.location.href = "/kitchen/index";
            });
        });
    </script>
}

