@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
@using SunacCADApp.Library
@{

    CadDrawingMaster Master = ViewBag.CadDrawingMaster;
    CadDrawingKitchenDetail Kitchen = ViewBag.Kitchen;
    IList<CadDrawingByArea> byAreaList = ViewBag.ByAreas;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "" : ExpansionDWG.FileClass;
    string cadName = Master.DrawingCode;
    int PrototypeEdit = ViewBag.PrototypeEdit;
    int PrototypeRemove = ViewBag.PrototypeRemove;
    int PrototypeApprove = ViewBag.PrototypeApprove;
    string BPMWEBURL = ViewBag.BPMWEBURL;
    string ProcInstId = Master.BPMProcInstID;
    string ProKeyCode = API_Common.GetEnCodeStr(ProcInstId);
    string approvalViewURL = string.Format("{0}/Workflow/MTApprovalView.aspx?procInstId={1}&key={2}", BPMWEBURL, ProcInstId, ProKeyCode);
}
}
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/kitchen">厨房</a>
    <i></i>
    <a>@Master.DrawingCode</a>
    @if (Master.BillStatus == 2)
    {
        <span class="check-state">
            <a class="state-a-checked" href="@approvalViewURL">审批流程查看</a>
        </span>
    }
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@cadName</p>
        </figure>
    </div>
    <div class="mian-column">
        <div class="column-tbody">
            <form name="myform" id="myform">
                <dl>
                    <dt class="col-dt"><i>*</i>原型编号：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="dis_drawingcode" class="required" value="@Master.DrawingCode"   readonly="readonly"/>
                        <input type="hidden" value="@Master.DrawingCode" name="hid_drawingcode" />
                        <i class="icon-tips" tips="<p>门窗原型编号规则：开启代号+原型代码， 例如： NC1、NC2...<br />
                                                                       门窗开启代码：NC内开窗、NZC 内开转角窗、NDC内开内倒窗、NDZC内开内倒转角窗、WC外开窗、
                                                                        WZC外开转角窗、TC推拉窗、TLM推拉门、TSTLM提升推拉门、MLC门连窗、WM外开门</p>">&nbsp;</i>
                    </dd>
                </dl>

                <dl>
                    <dt class="col-dt"><i>*</i>原型文件：</dt>
                    <dd>
                        <input type="text" style="width:450px" name="readonly_filename" value="@ExpansionDWG.FileClass" readonly="readonly" />
                        <input type="hidden" name="txt_filename" value="@ExpansionDWG.FileClass"  class="required" data-error="原型文件不能为空" />
                        <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                        <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                        <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                        <a class="btn-upfile" href="javascript:void(0)">
                            上传
                            <input type="file" class="upload-cad" />
                        </a>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>使用范围：</dt>
                    <dd style="width:500px;">
                        <span style="display:block;padding-top:5px;line-height:35px;">
                            <span class="online-checkbox">
                                @if (Master.Scope == 1)
                            {
                                    <input type="checkbox" id="all" name="chk_area" class="select-all checkbox-area" value="1" checked="checked" />
                            }
                            else
                            {
                                    <input type="checkbox" id="all" name="chk_area" class="select-all" value="1" />
                            }

                                <label for="all">集团</label>
                            </span>

                            @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = byAreaList.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                                <span class="online-checkbox">
                                    <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox checkbox-area" @str_check />
                                    <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                                </span>
                        }
                        </span>

                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>厨房类型：</dt>
                    <dd>
                        <select name="selectKitchenType" style="width:105px;">
                            @foreach (BasArgumentSetting KitchenType in ViewBag.KitchenType)
                            {
                                if (KitchenType.Id == Kitchen.KitchenType)
                                {
                                    <option value="@KitchenType.Id" selected>@KitchenType.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@KitchenType.Id">@KitchenType.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>门窗位置：</dt>
                    <dd>
                        <select name="selectKitchenPosition" style="width:105px;">
                            @foreach (BasArgumentSetting DoorWindowPosition in ViewBag.DoorWindowPositions)
                            {
                                if (DoorWindowPosition.Id == Kitchen.KitchenPosition)
                                {
                                    <option value="@DoorWindowPosition.Id" selected>@DoorWindowPosition.ArgumentText</option>
                                }
                                else
                                {
                                    <option value="@DoorWindowPosition.Id">@DoorWindowPosition.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt class="col-dt"><i>*</i>模块类型：</dt>
                    <dd>
                        @{

                        string style_display = Master.DynamicType == 1 ? "style=\"display:block\"" : string.Empty;
                        }
                        @if (Master.DynamicType == 1)
                    {

                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                                <label for="radio_dynamic_module">动态原型</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                                <label for="radio_static_module">定型原型</label>
                            </span>
                    }
                    else if (Master.DynamicType == 2)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态原型</label>
                        </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" checked />
                                <label for="radio_static_module">定型原型</label>
                            </span>

                    }

                    </dd>
                </dl>
                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>是否包含排气道：</dt>
                    <dd>
                        @if (Kitchen.KitchenIsAirduct == 1)
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_kitchenisairduct" id="radio_kitchenisairduc_module01" value="1" checked />
                                <label for="radio_kitchenisairduc_module01">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_kitchenisairduct" id="radio_kitchenisairduc_module02" value="0" />
                                <label for="radio_kitchenisairduc_module02">否</label>
                            </span>
                    }
                    else
                    {
                            <span class="online-checkbox">
                                <input type="radio" name="radio_kitchenisairduct" id="radio_kitchenisairduc_module01" value="1" />
                                <label for="radio_kitchenisairduc_module01">是</label>
                            </span>
                            <span class="online-checkbox">
                                <input type="radio" name="radio_kitchenisairduct" id="radio_kitchenisairduc_module02" value="0" checked />
                                <label for="radio_kitchenisairduc_module02">否</label>
                            </span>
                    }

                    </dd>
                </dl>

                @if (Master.DynamicType == 1)
            {

                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>开间尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtKitchenOpenSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                           <i>- </i>
                            <input type="number" style="width:105px" name="txtKitchenOpenSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="dynamic_module">
                        <dt class="col-dt"><i>*</i>进深尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtKitchenDepthsizeMin" value="@Kitchen.KitchenDepthsizeMin" />
                            <i>-</i>
                            <input type="number" style="width:105px" name="txtKitchenDepthsizeMax" value="@Kitchen.KitchenDepthsizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:none">
                        <dt class="col-dt"><i>*</i>开间进深：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtWindowSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                            <i>×</i>
                            <input type="number" style="width:105px" name="txtWindowSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:none">
                        <dt class="col-dt"><i>*</i>台盆尺寸：</dt>
                        <dd>
                            <select name="selectKitchenBasinSize" style="width:105px;">
                                @foreach (BasArgumentSetting KitchenBasinType in ViewBag.KitchenBasinTypes)
                                {
                                    if (KitchenBasinType.Id == Kitchen.KitchenBasinSize)
                                    {
                                        <option value="@KitchenBasinType.Id" selected>@KitchenBasinType.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@KitchenBasinType.Id">@KitchenBasinType.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:none">
                        <dt class="col-dt"><i>*</i>冰箱尺寸：</dt>
                        <dd>
                            <select name="selectKitchenFridgSize" style="width:105px;">
                                @foreach (BasArgumentSetting RefrigeratorType in ViewBag.RefrigeratorTypes)
                                {
                                    if (RefrigeratorType.Id == Kitchen.KitchenFridgSize)
                                    {
                                        <option value="@RefrigeratorType.Id" selected>@RefrigeratorType.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@RefrigeratorType.Id">@RefrigeratorType.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:none">
                        <dt class="col-dt"><i>*</i>灶台尺寸：</dt>
                        <dd>
                            <select name="selectKitchenHearthSize" style="width:105px;">
                                @foreach (BasArgumentSetting HearthWidth in ViewBag.HearthWidths)
                                {
                                    if (HearthWidth.Id == Kitchen.KitchenHearthSize)
                                    {
                                        <option value="@HearthWidth.Id" selected>@HearthWidth.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@HearthWidth.Id">@HearthWidth.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
            }
            else
            {
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i>*</i>开间尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtKitchenOpenSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                            <i>-</i>
                            <input type="number" style="width:105px" name="txtKitchenOpenSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="dynamic_module" style="display:none">
                        <dt class="col-dt"><i>*</i>进深尺寸范围：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtKitchenDepthsizeMin" value="@Kitchen.KitchenDepthsizeMin" />
                            <i>×</i>
                            <input type="number" style="width:105px" name="txtKitchenDepthsizeMax" value="@Kitchen.KitchenDepthsizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>开间进深：</dt>
                        <dd>
                            <input type="number" style="width:105px" name="txtWindowSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                            <i>×</i>
                            <input type="number" style="width:105px" name="txtWindowSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                            <i>mm</i>
                        </dd>
                    </dl>
                    <dl class="static_module">
                        <dt class="col-dt"><i>*</i>台盆尺寸：</dt>
                        <dd>
                            <select name="selectKitchenBasinSize" style="width:105px;">
                                @foreach (BasArgumentSetting KitchenBasinType in ViewBag.KitchenBasinTypes)
                                {
                                    if (KitchenBasinType.Id == Kitchen.KitchenBasinSize)
                                    {
                                        <option value="@KitchenBasinType.Id" selected>@KitchenBasinType.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@KitchenBasinType.Id">@KitchenBasinType.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>冰箱尺寸：</dt>
                        <dd>
                            <select name="selectKitchenFridgSize" style="width:105px;">
                                @foreach (BasArgumentSetting RefrigeratorType in ViewBag.RefrigeratorTypes)
                                {
                                    if (RefrigeratorType.Id == Kitchen.KitchenFridgSize)
                                    {
                                        <option value="@RefrigeratorType.Id" selected>@RefrigeratorType.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@RefrigeratorType.Id">@RefrigeratorType.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
                    <dl class="static_module" style="display:block">
                        <dt class="col-dt"><i>*</i>灶台尺寸：</dt>
                        <dd>
                            <select name="selectKitchenHearthSize" style="width:105px;">
                                @foreach (BasArgumentSetting HearthWidth in ViewBag.HearthWidths)
                                {
                                    if (HearthWidth.Id == Kitchen.KitchenHearthSize)
                                    {
                                        <option value="@HearthWidth.Id" selected>@HearthWidth.ArgumentText</option>
                                    }
                                    else
                                    {
                                        <option value="@HearthWidth.Id">@HearthWidth.ArgumentText</option>
                                    }

                                }
                            </select>
                        </dd>
                    </dl>
            }


                <input type="hidden" name="hid_id" value="@Master.Id" />

            </form>
        </div>
        <div class="main-column-handle">
            <div class="column-handle">
                @if (PrototypeEdit == 1)
                {
                    <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
                }
                @if (PrototypeApprove == 1)
                {
                    <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@Master.Id" data-state="@Master.DynamicType" data-billstatus="@Master.BillStatus" data-bpmprocinstid="@Master.BPMProcInstID" data-bpmjobid="@Master.BPMJobid">提交</button>
                }
                @if (PrototypeRemove == 1)
                {
                    <button type="button" class="btn btn-sunac btn-delete" data-id="@Master.Id" data-billstatus="@Master.BillStatus" data-bpmprocinstid="@Master.BPMProcInstID" data-bpmjobid="@Master.BPMJobid">删除</button>
                }
               
            
            </div>
            
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Kitchen/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                //layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                //    window.location.href = "/Kitchen/Index"
                //});
                layer.alert(data.message, { icon: 6, shade: false });
            } else if (data.code == 110) {
                let layindex = layer.alert(data.message, { icon: 6, shade: false }, function () {
                    let BSID = data.BSID;
                    let BTID = data.BTID;
                    let BOID = data.BOID;
                    window.open("@ViewBag.BPMWEBURL/Workflow/MTStart2.aspx?BSID=" + BSID + "&BTID=" + BTID + "&BOID=" + BOID);
                    layer.close(layer.index);
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });

        $(".btn-delete").on("click", function () {
            let self = $(this);
            let Id = self.data("id");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/kitchen/deleteHandlebyid", { Id: Id, billstatus: billstatus, bpmprocinstid: bpmprocinstid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/kitchen/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });
        })


        $(".btn-bpm-submit").on("click", function () {

            let self = $(this);
            let Id = self.data("id");
            let state = self.data("state");
            let billstatus = self.data("billstatus");
            let bpmprocinstid = self.data("bpmprocinstid");
            let bpmjobid = self.data("bpmjobid");
            let bill_message = billstatus == "2" ? "是否重新提交BPM审核" : "是否提交BPM审核";
            layer.confirm(bill_message, {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                let Id = self.data("id");
                let State = self.data("state");
                $.post("/Kitchen/WriteBPMDoorApproval", { Id: Id, State: State, billstatus: billstatus, bpmprocinstid: bpmprocinstid, bpmjobid: bpmjobid }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/Kitchen/index";
                        })
                    } else if (data.code == 110) {
                        let layindex = layer.alert(data.message, { icon: 6, shade: false }, function () {
                            let BSID = data.BSID;
                            let BTID = data.BTID;
                            let BOID = data.BOID;
                            window.open("@ViewBag.BPMWEBURL/Workflow/MTStart2.aspx?BSID=" + BSID + "&BTID=" + BTID + "&BOID=" + BOID);
                            layer.close(layer.index);
                        });
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })
    })

</script>

@if (PrototypeEdit == 0)
{
    <script type="text/javascript">
        $(function () {
            layer.alert("抱歉，当前用户暂无原型编辑权限,请联系管理员开通", { icon: 0, title: "权限提示" }, function () {
                window.location.href = "/kitchen/index";
            });
        });
    </script>
}

