@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
@{

    CadDrawingMaster Master = ViewBag.CadDrawingMaster;
    CadDrawingKitchenDetail Kitchen = ViewBag.Kitchen;
    IList<CadDrawingByArea> byAreaList = ViewBag.ByAreas;
    IList<CadDrawingDWG> Dwgs = ViewBag.Dwgs;
    CadDrawingDWG ExpansionDWG = Dwgs.Where(e => e.CADType == "ExpandViewFile").SingleOrDefault<CadDrawingDWG>();
    ExpansionDWG = ExpansionDWG == null ? new CadDrawingDWG() : ExpansionDWG;
    string imagePath = string.IsNullOrEmpty(ExpansionDWG.DWGPath) ? "/Content/Css/img/icon-no-image.png" : ExpansionDWG.DWGPath;
    string imageName = string.IsNullOrEmpty(ExpansionDWG.FileClass) ? "" : ExpansionDWG.FileClass;
}
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/kitchen">厨房</a>
    <i></i>
    <a>@Master.DrawingName</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="@imagePath" width="238" heigth="200" />
            <p>@imageName</p>
        </figure>
    </div>
    <div class="mian-column">
        <form name="myform" id="myform">
            <dl>
                <dt class="col-dt"><i>*</i>原型编号：</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingcode" class="required" value="@Master.DrawingCode" disabled="disabled" />
                </dd>
            </dl>

            <dl>
                <dt class="col-dt"><i></i>展开图文件：</dt>
                <dd>
                    <input type="text" style="width:378px" name="txt_filename" value="@ExpansionDWG.FileClass" placeholder="展开图文件" class="required" data-error="展开图文件不能为空" />
                    <input type="hidden" name="txt_drawingcad" value="@ExpansionDWG.CADPath" />
                    <input type="hidden" name="hid_drawing_img" value="@ExpansionDWG.DWGPath" />
                    <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                    <a class="btn-upfile" href="javascript:void(0)">
                        文件上传
                        <input type="file" class="upload-cad" />
                    </a>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>使用范围：</dt>
                <dd style="width:500px;">
                    <span style="display:block;padding-top:5px;line-height:35px;">
                        <span class="online-checkbox">
                            @if (Master.Scope == 1)
                            {
                                <input type="checkbox" id="all" name="chk_area" class="select-all"  value="1" checked="checked"/>
                            }
                            else
                            {
                                <input type="checkbox" id="all" name="chk_area" class="select-all" value="1" />
                            }
                           
                            <label for="all">集团</label>
                        </span>

                        @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            string str_check = string.Empty;
                            int hasArea = byAreaList.Where(e => e.AreaID == Setting.Id).Count();
                            str_check = hasArea > 0 ? "checked" : string.Empty;
                            <span class="online-checkbox">
                                <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" @str_check />
                                <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                            </span>
                        }
                    </span>

                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>厨房类型：</dt>
                <dd>
                    <select name="selectKitchenType">
                        @foreach (BasArgumentSetting KitchenType in ViewBag.KitchenType)
                        {
                            if (KitchenType.Id == Kitchen.KitchenType)
                            {
                                <option value="@KitchenType.Id" selected>@KitchenType.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@KitchenType.Id">@KitchenType.ArgumentText</option>
                            }

                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>门窗位置：</dt>
                <dd>
                    <select name="selectKitchenPosition">
                        @foreach (BasArgumentSetting DoorWindowPosition in ViewBag.DoorWindowPositions)
                        {
                            if (DoorWindowPosition.Id == Kitchen.KitchenPosition)
                            {
                                <option value="@DoorWindowPosition.Id" selected>@DoorWindowPosition.ArgumentText</option>
                            }
                            else
                            {
                                <option value="@DoorWindowPosition.Id">@DoorWindowPosition.ArgumentText</option>
                            }

                        }
                    </select>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>模块类型：</dt>
                <dd>
                    @{

                        string style_display = Master.DynamicType == 1 ? "style=\"display:block\"" : string.Empty;
                    }
                    @if (Master.DynamicType == 1)
                    {

                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" checked data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态模型</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" />
                            <label for="radio_static_module">静态模型</label>
                        </span>
                    }
                    else if (Master.DynamicType == 2)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_dynamic_module" value="1" data-model=".dynamic_module" />
                            <label for="radio_dynamic_module">动态模型</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_module" id="radio_static_module" value="2" data-model=".static_module" checked />
                            <label for="radio_static_module">静态模型</label>
                        </span>

                    }

                </dd>
            </dl>
            <dl class="dynamic_module">
                <dt class="col-dt"><i>*</i>是否包含排气道：</dt>
                <dd>
                    @if (Kitchen.KitchenIsAirduct == 1)
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_kitchenisairduct" id="radio_static_module" value="1" checked />
                            <label for="radio_static_module">是</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_kitchenisairduct" id="radio_static_module" value="0" />
                            <label for="radio_static_module">否</label>
                        </span>
                    }
                    else
                    {
                        <span class="online-checkbox">
                            <input type="radio" name="radio_kitchenisairduct" id="radio_static_module" value="1" />
                            <label for="radio_static_module">是</label>
                        </span>
                        <span class="online-checkbox">
                            <input type="radio" name="radio_kitchenisairduct" id="radio_static_module" value="0" checked />
                            <label for="radio_static_module">否</label>
                        </span>
                    }

                </dd>
            </dl>

            @if (Master.DynamicType == 1)
            {

                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>开间尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:100px" name="txtKitchenOpenSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                        mm -
                        <input type="number" style="width:100px" name="txtKitchenOpenSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                        mm
                    </dd>
                </dl>
                <dl class="dynamic_module">
                    <dt class="col-dt"><i>*</i>进深尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:100px" name="txtKitchenDepthsizeMin" value="@Kitchen.KitchenDepthsizeMin" />
                        mm -
                        <input type="number" style="width:100px" name="txtKitchenDepthsizeMax" value="@Kitchen.KitchenDepthsizeMax" />
                        mm
                    </dd>
                </dl>
                <dl class="static_module" style="display:none">
                    <dt class="col-dt"><i>*</i>开间进深(mm)：</dt>
                    <dd>
                        <input type="number" style="width:100px" name="txtWindowSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                        mm -
                        <input type="number" style="width:100px" name="txtWindowSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                        mm
                    </dd>
                </dl>
                <dl class="static_module" style="display:none">
                    <dt class="col-dt"><i>*</i>台盆尺寸：</dt>
                    <dd>
                        <select name="selectKitchenBasinSize">
                            @foreach (BasArgumentSetting KitchenBasinType in ViewBag.KitchenBasinTypes)
                            {
                                if (KitchenBasinType.Id == Kitchen.KitchenBasinSize)
                                {
                            <option value="@KitchenBasinType.Id" selected>@KitchenBasinType.ArgumentText</option>
                                }
                                else
                                {
                            <option value="@KitchenBasinType.Id">@KitchenBasinType.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module" style="display:none">
                    <dt class="col-dt"><i>*</i>冰箱尺寸：</dt>
                    <dd>
                        <select name="selectKitchenFridgSize">
                            @foreach (BasArgumentSetting RefrigeratorType in ViewBag.RefrigeratorTypes)
                            {
                                if (RefrigeratorType.Id == Kitchen.KitchenFridgSize)
                                {
                            <option value="@RefrigeratorType.Id" selected>@RefrigeratorType.ArgumentText</option>
                                }
                                else
                                {
                            <option value="@RefrigeratorType.Id">@RefrigeratorType.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module" style="display:none">
                    <dt class="col-dt"><i>*</i>灶台尺寸：</dt>
                    <dd>
                        <select name="selectKitchenHearthSize">
                            @foreach (BasArgumentSetting HearthWidth in ViewBag.HearthWidths)
                            {
                                if (HearthWidth.Id == Kitchen.KitchenHearthSize)
                                {
                            <option value="@HearthWidth.Id" selected>@HearthWidth.ArgumentText</option>
                                }
                                else
                                {
                            <option value="@HearthWidth.Id">@HearthWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
            }
            else
            {
                <dl class="dynamic_module" style="display:none">
                    <dt class="col-dt"><i>*</i>开间尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:100px" name="txtKitchenOpenSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                        mm -
                        <input type="number" style="width:100px" name="txtKitchenOpenSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                        mm
                    </dd>
                </dl>
                <dl class="dynamic_module" style="display:none">
                    <dt class="col-dt"><i>*</i>进深尺寸范围(mm)：</dt>
                    <dd>
                        <input type="number" style="width:100px" name="txtKitchenDepthsizeMin" value="@Kitchen.KitchenDepthsizeMin" />
                        mm -
                        <input type="number" style="width:100px" name="txtKitchenDepthsizeMax" value="@Kitchen.KitchenDepthsizeMax" />
                        mm
                    </dd>
                </dl>
                <dl class="static_module" style="display:block">
                    <dt class="col-dt"><i>*</i>开间进深(mm)：</dt>
                    <dd>
                        <input type="number" style="width:100px" name="txtWindowSizeMin" value="@Kitchen.KitchenOpenSizeMin" />
                        mm -
                        <input type="number" style="width:100px" name="txtWindowSizeMax" value="@Kitchen.KitchenOpenSizeMax" />
                        mm
                    </dd>
                </dl>
                <dl class="static_module">
                    <dt class="col-dt"><i>*</i>台盆尺寸：</dt>
                    <dd>
                        <select name="selectKitchenBasinSize">
                            @foreach (BasArgumentSetting KitchenBasinType in ViewBag.KitchenBasinTypes)
                            {
                                if (KitchenBasinType.Id == Kitchen.KitchenBasinSize)
                                {
                            <option value="@KitchenBasinType.Id" selected>@KitchenBasinType.ArgumentText</option>
                                }
                                else
                                {
                            <option value="@KitchenBasinType.Id">@KitchenBasinType.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module" style="display:block">
                    <dt class="col-dt"><i>*</i>冰箱尺寸：</dt>
                    <dd>
                        <select name="selectKitchenFridgSize">
                            @foreach (BasArgumentSetting RefrigeratorType in ViewBag.RefrigeratorTypes)
                            {
                                if (RefrigeratorType.Id == Kitchen.KitchenFridgSize)
                                {
                            <option value="@RefrigeratorType.Id" selected>@RefrigeratorType.ArgumentText</option>
                                }
                                else
                                {
                            <option value="@RefrigeratorType.Id">@RefrigeratorType.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
                <dl class="static_module" style="display:block">
                    <dt class="col-dt"><i>*</i>灶台尺寸：</dt>
                    <dd>
                        <select name="selectKitchenHearthSize">
                            @foreach (BasArgumentSetting HearthWidth in ViewBag.HearthWidths)
                            {
                                if (HearthWidth.Id == Kitchen.KitchenHearthSize)
                                {
                            <option value="@HearthWidth.Id" selected>@HearthWidth.ArgumentText</option>
                                }
                                else
                                {
                            <option value="@HearthWidth.Id">@HearthWidth.ArgumentText</option>
                                }

                            }
                        </select>
                    </dd>
                </dl>
            }


            <input type="hidden" name="hid_id" value="@Master.Id" />

        </form>
        <div class="row" style="margin-bottom:20px;padding-left:15px;padding-right:30px;">
            <div class="col-md-6 col-sm-6">
                <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
            </div>
            <div class="col-md-6 col-sm-6" style="text-align:right">
              
                <button type="button" class="btn btn-sunac btn-delete" data-id="@Master.Id">删除</button>
                <button type="button" class="btn btn-sunac btn-bpm-submit" data-id="@Master.Id" data-state="@Master.DynamicType" data-billstatus="@Master.BillStatus">提交审核</button>
                @if (@Master.BillStatus == 2)
                {
                    string BTID = Master.DynamicType == 1 ? "P31" : "P32";
                    <a class="btn btn-sunac" href="http://192.168.2.110/Workflow/MTStart2.aspx?BSID=vsheji&BTID=@BTID&BOID=@Master.Id" target="_blank">BPM查看</a>
                }
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/Kitchen/Edithandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/Kitchen/Index"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display", "block");

        })



        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });

        $(".btn-delete").on("click", function () {
            let Id = $(this).data("id");
            layer.confirm('是否需要删除', {
                btn: ['删除', '取消'],
                shade: false,
                icon: 3
            }, function () {
                $.post("/kitchen/deleteHandlebyid", { Id: Id }, function (data) {
                    if (data.code == 100) {
                        layer.alert("删除成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/kitchen/index";
                        })
                    } else {
                        layer.alert("删除失败", { icon: 6, shade: false });
                    }
                }, 'json');
            });
        })


        $(".btn-bpm-submit").on("click", function () {

            let self = $(this);

            let billstatus = self.data("billstatus");
            if (billstatus == 2) {
                layer.alert("已提交审核,请不要重复提交", { icon: 6, shade: false });
                return;
            }
            layer.confirm('是否提交BPM审核', {
                btn: ['提交BPM审核', '取消'],
                shade: false,
                icon: 3
            }, function () {
                let Id = self.data("id");
                let State = self.data("state");
                $.post("/Kitchen/WriteBPMDoorApproval", { Id: Id, State: State }, function (data) {
                    if (data.code == 100) {
                        layer.alert("BPM提交成功", { icon: 6, shade: false }, function () {
                            window.location.href = "/Kitchen/index";
                        })
                    } else {
                        layer.alert(data.message, { icon: 6, shade: false });
                    }
                }, "json")

            })
        })
    })

</script>



